{% extends "layout.j2" %}

{% set page = "about" %}

{% block content %}
  <main class="page-main">
    <h1 class="visually-hidden">О нас</h1>

    {% include "./blocks/about-section.j2" %}
    {% include "./blocks/partners.j2" %}

    <section class="about-video section">
      <div class="about-video__container container">
        <h2 class="about-video__title section__title">Видео о производстве</h2>
        <div class="about-video__video-container">
          <iframe class="about-video__video" src="https://www.youtube.com/embed/nSaFstyQQbs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </section>
    {% include "./blocks/about-gallery.j2" %}
    {% include "./blocks/thanks.j2" %}
    {% include "./blocks/docs.j2" %}
    {% include "./blocks/warehouses.j2" %}
    {% include "./blocks/contacts.j2" %}
  </main>
{% endblock content %}

{% block modal %}
  {% include "./blocks/modals/modal-leasing.j2" %}
  {% include "./blocks/modals/modal-price.j2" %}
  {% include "./blocks/modals/modal-offer.j2" %}
  {% include "./blocks/modals/modal-callback.j2" %}
  {% include "./blocks/modals/modal-request-received.j2" %}
{% endblock modal %}

{% block js %}
  <script src="./js/custom-select.min.js"></script>
  <script src="./js/jquery-3.4.1.slim.js"></script>
  <script src="./js/swiper-bundle.min.js"></script>
  <script src="./js/imask.js"></script>
  <script src="./js/menu.min.js"></script>
  <script src="./js/burger.min.js"></script>
  <script src="./js/main.min.js"></script>
  <script src="./js/swipers.min.js"></script>
  <script src="./js/tabs.min.js"></script>
  <script src="./js/contacts.min.js"></script>
{% endblock %}
