{% extends "layout.j2" %}

{% set page = "index" %}

{% block content %}
  <main class="page-main">
    <h1 class="visually-hidden">Главная страница компании техстройпроект - федерального дилера спецтехники XCMG</h1>
    {% include "./blocks/index-header.j2" %}
    {% include "./blocks/tech-tabs.j2" %}
    {% include "./blocks/new-offers.j2" %}
    {% include "./blocks/leasing-section.j2" %}
    {% include "./blocks/article.j2" %}
    {% include "./blocks/useful-systems.j2" %}
  </main>
{% endblock content %}

{% block js %}
  <script src="./js/main.min.js"></script>
  <script src="./js/tabs.min.js"></script>
  <script src="./js/new-offers.min.js"></script>
{% endblock %}
