{% extends "layout.j2" %}

{% set page = "leasing" %}

{% block content %}
  <main class="page-main leasing-page">
    {% include "./blocks/leasing-header.j2" %}
    {% include "./blocks/leasing-terms.j2" %}
    <div class="container">
      <p class="leasing-page__sub-title section-header">Весь модельный ряд в нашем каталоге доступен в лизинг</p>
    </div>
    {% include "./blocks/tech-tabs.j2" %}
    {% include "./blocks/useful-systems.j2" %}
    {% include "./blocks/about-section.j2" %}
    {% include "./blocks/contacts.j2" %}
  </main>
{% endblock content %}

{% block modal %}
  {% include "./blocks/modals/modal-leasing.j2" %}
  {% include "./blocks/modals/modal-price.j2" %}
  {% include "./blocks/modals/modal-offer.j2" %}
{% endblock modal %}

{% block js %}
  <script src="./js/jquery-3.4.1.slim.js"></script>
  <script src="./js/tabs.min.js"></script>
  <script src="./js/custom-select.min.js"></script>
  <script src="./js/imask.js"></script>
  <script src="./js/menu.min.js"></script>
  <script src="./js/burger.min.js"></script>
  <script src="./js/main.min.js"></script>
  <script src="./js/contacts.min.js"></script>
{% endblock %}
