.about-section {
  color: $dark-color;
  @media (min-width: $tablet-width) {
    color: #fbfbfb;
  }
}
.about-section__content {
  width: 100%;
  @media (min-width: $tablet-width) {
    position: relative;
    padding: 0 65px;
    padding-top: 105px;
    padding-bottom: 75px;
    background: linear-gradient(90deg, rgba(0,31,68,0.6) 30%, rgba(0,31,68,0.4) 56%, rgba(0,31,68,0.3) 69%);
    border-radius: 5px;
    overflow: hidden;
  }
}
.about-section__main {
  @media (min-width: $tablet-width) {
    width: 40%;
  }
}
.about-section__title {
  margin-bottom: 0;
  @media (min-width: $tablet-width) {
    color: #fbfbfb;
  }
  @media (min-width: $desktop-width) {
    font-weight: 700;
    font-size: 50px;
    line-height: 61px;
  }
}

.about-section__text {
  font-size: 17px;
  line-height: 21px;
  font-weight: 600;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
    max-width: 340px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 50px;
    font-size: 20px;
    line-height: 25px;
  }
}

.about-section__figure {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  @media (max-width: $max-mobile-width) {
    border-radius: 10px;
    overflow: hidden;
  }

  @media (min-width: $tablet-width) {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-bottom: 0;
    overflow: hidden;
  }
}

.about-section__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;

  @media (min-width: $tablet-width) {
    width: auto;
  }
}

.about-section__button {
  height: 60px;
  min-width: 0;
  margin-top: auto;

  @media (min-width: $tablet-width) {
    max-width: 255px;
  }
}

.about-section__features {
  margin-top: 40px;
  flex-grow: 1;

  @media (min-width: $tablet-width) and (max-width: $max-tablet-width) {
    margin-top: 0;
  }
}

.about-section__features-list {
  max-width: 100%;
  width: 100%;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
  }
}

.about-section--page {
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  @media (min-width: $tablet-width) {
    color: $dark-color;
    margin-top: 55px;
    min-height: 609px;
    padding-top: 37px;
    padding-bottom: 22px;
    border: 5px solid $primary-color;
  }

  & .about-section__breadcumbs {
    @media (max-width: $max-mobile-width) {
      padding-bottom: 20px;
    }
    @media (min-width: $tablet-width) {
      padding: 0 38px;
    }
  }

  & .about-section__content {
    @media (max-width: $max-mobile-width) {
      position: relative;
    }

    @media (min-width: $tablet-width) {
      flex-grow: 1;
      padding: 0 38px;
      padding-top: 50px;
      padding-right: 22px;
    }
  }

  & .about-section__title {
    @media (min-width: $tablet-width) {
      color: $dark-color;
    }
  }

  & .about-section__text {
    @media (max-width: $max-mobile-width) {
      position: absolute;
      top: 100px;
      width: 150px;
    }
  }

  & .about-section__content {
    @media (min-width: $tablet-width) {
      background: none;
    }
  }

  & .about-section__image {
    @media (min-width: $tablet-width) {
      margin-left: auto;
      // width: 80%;
    }
  }

  & .about-section__features {
    @media (min-width: $tablet-width) and (max-width: $max-tablet-width) {
      margin-right: 20px;
    }
    @media (min-width: $tablet-width) {
      margin-top: auto;
    }
  }
}
