.accordion-button {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  width: 100%;
  height: 45px;


  &::after {
    content: "";
    position: absolute;
    top: 45%;
    right: 0;
    width: 25px;
    height: 25px;
    transform: translateY(-50%);
    background-image: url("@img/icons/accordion-arrow.svg");
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 0.3s ease;
  }
}
.accordion-button--closed {
  &::after {
    transform: translateY(-50%) rotate(90deg);
  }
}
.accordion-button:disabled {
  display: none;
}
.accordion-panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.45s ease-out;
}
