.burger {
  position: absolute;
  top: 25px;
  right: 17px;
  z-index: 100;

  width: 39px;
  height: 50px;
  margin: 0;
  padding: 0;

  background-color: transparent;
  background-image: url("@img/icons/burger.svg");
  background-repeat: no-repeat;
  background-position: top center;
  border: none;
  @media (min-width: $desktop-width) {
    display: none;
  }

  &::after {
    content: "Меню";
    position: absolute;
    bottom: 0;
    left: 0;

    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #fbfbfb;
  }
}
.burger--opened {
  top: 32px;

  width: 25px;
  height: 25px;

  background-image: url("@img/icons/burger-close.svg");

  &::after {
    content: none;
  }
}
.burger--no-js {
  display: none;
}
