.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 280px;
  height: 74px;
  padding: 10px 20px;

  font-weight: 600;
  font-size: 17px;
  line-height: 22px;
  font-family: inherit;
  text-align: center;
  color: #ffffff;
  text-decoration: none;

  background-color: $primary-color;
  border: none;
  border-radius: 1px;
  cursor: pointer;

  transition: color 0.3s, background-color 0.3s;

  @media (max-width: $desktop-width) {
    width: 100%;
    min-width: 200px;
    height: 60px;

    font-size: 16px;
    line-height: 19px;
  }
}

.button:hover {
  color: $primary-color;

  background-color: $secondary-color;
}

.button--yellow {
  color: $primary-color;

  background-color: $secondary-color;

  &:hover {
    color: #ffffff;

    background-color: $primary-color;
  }
}
