.catalog-types {
  margin-bottom: 50px;

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
  }
}

.catalog-types__title {
  margin-bottom: 23px;


  @media (min-width: $tablet-width) {
    margin-bottom: 42px;
  }
}
.catalog-types__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  list-style-type: none;

  gap: 23px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;

    gap: 45px;
  }
}
.catalog-types__item {
  position: relative;

  max-width: 100%;

  @media (min-width: $tablet-width) {
    max-width: 170px;

    &::after {
      content: "";
      position: absolute;
      top: -7px;
      right: -10px;
      bottom: 25%;
      left: 25px;
      z-index: -1;

      background-color: $primary-color;
    }
  }

  @media (min-width: $desktop-width) {
    max-width: 224px;
  }
}
.catalog-types__link {
  display: flex;
  flex-direction: column;

  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: $dark-color;
  text-decoration: none;

  @media (min-width: $desktop-width) {
    font-size: 22px;
    line-height: 25px;
  }

  &:hover .catalog-types__link-text,
  &:focus .catalog-types__link-text {
    color: $secondary-color;
  }
  &:focus {
    outline: none;
  }
}
.catalog-types__link-image {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 13px;

  object-fit: cover;

  @media (min-width: $tablet-width) {
    height: 300px;
  }

  @media (min-width: $desktop-width) {
    height: 402px;
  }
}
.catalog-types__link-text {
  display: inline-flex;
  align-self: flex-start;

  transition: color 0.3s ease;
}
