.contacts {
  margin-bottom: 135px;

  color: $dark-color;
}
.contacts__container {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    flex-direction: row;
  }
}
.contacts__main {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;

  @media (min-width: $desktop-width) {
    flex-shrink: 0;
    width: 25%;
    margin-right: 50px;
  }
}
.contacts__title {
  margin-top: 20px;
  margin-bottom: 20px;
}
.contacts__form {
  width: 270px;
  margin-bottom: 20px;
}


.contacts__address-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  list-style-type: none;
}
.contacts__address-item {
  display: none;
}
.contacts__address-item--active {
  display: flex;
  flex-direction: column;
}

.contacts__phones {
  margin-bottom: 20px;
}
.contacts__messengers {
  display: flex;
  align-items: center;
  max-width: 350px;
}

.contacts__phone {
  margin-left: 10px;

  font-weight: 500;
  font-size: 31px;
  line-height: calc(37 / 31) * 100%;
  font-family: "Gilroy", "Arial", sans-serif;
  color: $dark-color;
  text-decoration: none;

  transition: opacity 0.3s ease;

  @media (max-width: $max-mobile-width) {
    font-size: 25px;
  }
  &:hover {
    opacity: 0.6;
  }
}
.contacts__back-call {
  display: block;

  font-weight: 600;
  font-size: 17px;
  line-height: 21px;
  color: $primary-color;
  text-decoration: none;

  transition: opacity 0.3s ease;
  &:hover {
    opacity: 0.6;
  }
}
.contacts__mail {
  display: block;
  margin-bottom: 20px;

  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: $dark-color;
  text-decoration: none;

  transition: opacity 0.3s ease;
  &:hover {
    opacity: 0.7;
  }
}
.contacts__address {
  margin: 0;

  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}
.contacts__maps-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  list-style-type: none;
}
.contacts__maps-item {
  display: none;
}
.contacts__maps-item--active {
  display: flex;
  flex-direction: column;
}

.contacts__map {
  flex-grow: 1;

  border: 5px solid $primary-color;
  border-radius: 3px;
}
.contacts__map iframe {
  height: 200px;

  @media (min-width: $tablet-width) {
    height: 374px;
  }

  @media (min-width: $desktop-width) {
    height: 446px;
  }
}
.contacts__map img {
  display: none;
}

.contacts__map--no-js iframe {
  display: none;
}

.contacts__map--no-js img {
  display: flex;
  width: 100%;

  object-fit: cover;
}
