.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 17px;
  padding-right: 17px;

  @media (min-width: $tablet-width) {
    // max-width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    max-width: $tablet-width-only;
  }

  @media (max-width: $desktop-width) {
    padding-left: 17px;
    padding-right: 17px;
  }
}
