.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  // padding-left: 30px;
  // padding-right: 30px;

  @media (min-width: $tablet-width) {
    max-width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    max-width: $tablet-width-only;
  }
}
