.docs__content {
  position: relative;
}

.docs__title {
  margin-bottom: 30px;
}
.docs__swiper {
  position: relative;

  // padding: 0 60px;

  & .swiper-slide {
    opacity: 1;
  }
  & .swiper-slide-visible {
    opacity: 1;
  }

  @media (max-width: calc($desktop-width + 149px)) {
    padding-bottom: 80px;
  }
}
.docs__list {
  display: flex;
  // justify-content: space-between;
  align-items: flex-start;
  margin: 0;
  padding: 0;

  list-style-type: none;
}
.docs__item {
  // max-width: 280px;
}
.docs__link {
  display: flex;
  flex-direction: column;
  max-width: 280px;

  color: $dark-color;
  text-decoration: none;

  &:hover {
    & .docs__image {
      border-color: $primary-color;
    }
    & p {
      opacity: 0.7;
    }
  }
  &:focus {
    outline: none;
  }
}
.docs__image {
  margin-bottom: 15px;

  border: 1px solid fade-out(#9b9b9b, 0.7);
  border-radius: 3px;

  transition: border 0.5s ease;
}
.docs__firm {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;

  font-weight: 600;
  font-size: 22px;
  line-height: calc(27 / 22) * 100%;

  transition: opacity 0.5s ease;

  @media (max-width: $max-mobile-width) {
    font-size: 19px;
  }
}
.docs__worker-name,
.docs__job-title {
  margin: 0;
  padding: 0;

  font-weight: 600;
  font-size: 14px;
  line-height: 18px;

  transition: opacity 0.5s ease;
}

.docs__swiper-button {
  position: absolute;
  top: 50%;
  z-index: 10;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;

  background-color: $primary-color;
  border: none;
  border-radius: 50%;
  transform: translateY(-50%);
  cursor: pointer;

  transition: background-color 0.3s ease;

  @media (max-width: calc($desktop-width + 149px)) {
    top: auto;
    right: auto;
    bottom: 0;
    left: 0;
  }
}
.docs__swiper-button-icon {
  width: 30%;

  transition: fill 0.3s ease;

  fill: #ffffff;
}
.docs__swiper-button--prev {
  left: 0;

  @media (min-width: calc($desktop-width + 150px)) {
    left: -70px;
  }

  background-color: $secondary-color;
  &:hover,
  &:focus {
    background-color: $primary-color;
    & .docs__swiper-button-icon {
      fill: $secondary-color;
    }
  }
  & .docs__swiper-button-icon {
    fill: $primary-color;
  }
}
.docs__swiper-button--next {
  right: 0;

  background-color: $primary-color;

  @media (max-width: calc($desktop-width + 149px)) {
    left: 50px;
  }
  @media (min-width: calc($desktop-width + 150px)) {
    right: -70px;
  }

  &:hover,
  &:focus {
    background-color: $secondary-color;
    & .docs__swiper-button-icon {
      fill: $primary-color;
    }
  }
  & .docs__swiper-button-icon {
    fill: $secondary-color;
  }
  & .docs__swiper-button-icon {
    transform: rotate(180deg);
  }
}
.docs__swiper-button--lock {
  display: none;
}
.docs__swiper-button--disabled {
  background-color: #9b9b9b;

  pointer-events: none;

  & .docs__swiper-button-icon {
    fill: $white-color;
  }
}
