.features__list {
  display: grid;
  row-gap: 80px;
  column-gap: 60px;
  grid-template-columns: auto auto;
  margin: 0;
  padding: 0;


  @media (max-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    row-gap: 40px;
    max-width: 500px;
  }
}
.feature__item {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 300px;
  padding: 30px 50px;

  color: $dark-color;

  background-color: #ffffff;
  border: 3px solid $primary-color;
  font-size: 25px;
  line-height: calc(30 / 25) * 100%;

  @media (max-width: $desktop-width) {
    width: 210px;
    padding: 17px 33px;
    font-size: 17px;
    line-height: 21px;
  }
}
.feature__icon-container {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 91px;
  height: 91px;

  background-color: $primary-color;
  border-radius: 50%;
  transform: translate(-50%, -50%);

  @media (max-width: $desktop-width) {
    left: auto;
    transform: translate(50%, -50%);
    right: 0;
    width: 63px;
    height: 63px;
  }
}
.feature__icon {
  min-height: 0;
  object-fit: contain;
  max-height: 50%;
}
.feature__icon--contract {
  transform: translateX(4px);
}
.feature__icon--calendar {
  transform: translateX(-4px);
}
.feature__icon--lightning {
  max-height: 60%;
}
.feature__name {
  order: 2;
  margin: 0;
  padding: 0;
  overflow: hidden;

  font-weight: 600;
  font-size: inherit;
  line-height: inherit;
}
.feature__value {
  flex-shrink: 0;
  order: 1;
  margin: 0;
  padding: 0;

  font-weight: 700;
  font-size: 60px;
  line-height: 73px;

  @media (max-width: $desktop-width) {
    font-size: 42px;
    line-height: 51px;
  }
}
.feature__mes-value {
  font-size: 27px;
  font-weight: 700;
  margin-left: 7px;
}
.feature__mes-value--percent {
  margin-left: 0;
  font-size: 40px;
}
