.hide-br--mobile {
  @media (max-width: $max-mobile-width) {
    content: " ";

    display: inline;

    &::after {
      content: " ";
    }
  }
}

.hide-br--tablet {
  @media (min-width: $tablet-width) and (max-width: $max-tablet-width) {
    content: " ";

    display: inline;

    &::after {
      content: " ";
    }
  }
}

.hide-br--desktop {
  @media (min-width: $desktop-width) {
    content: " ";

    display: inline;

    &::after {
      content: " ";
    }
  }
}
