.index-header {
  position: relative;

  margin-bottom: 60px;

  color: $white-color;

  @media (min-width: $max-mobile-width) {
    background-image: url("@img/index-header-shadow.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media (max-width: $max-mobile-width) {
    color: $dark-color-second;
  }
}
.index-header__container {
  position: relative;

  min-height: 467px;
}
.index-header__content {
  display: flex;
  flex-direction: column;
}
.index-header__title {
  max-width: 830px;
  margin-top: 60px;
  margin-bottom: 20px;

  @media (max-width: $desktop-width) {
    margin-top: 20px;
    margin-bottom: 10px;
  }
}
.index-header__text-container {
  max-width: 460px;
  padding-bottom: 30px;
}
.index-header__text {
  margin: 0;
  padding: 0;

  font-weight: 600;
  font-size: 20px;
  line-height: 25px;

  @media (max-width: $desktop-width) {
    font-size: 18px;
    line-height: 22px;
  }
}
.index-header__figure {
  display: none;
  @media (max-width: $max-mobile-width) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    margin-bottom: 55px;
    padding: 0;
  }
}
.index-header__image {
  display: block;
  width: 100%;

  border-radius: 10px;

  object-fit: cover;
}
.index-header__features {
  position: absolute;
  right: 17px;
  bottom: -60px;

  @media (max-width: $desktop-width) {
    position: static;
  }
}
.index-header__video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  width: 100%;
  height: 100%;

  object-fit: cover;

  @media (max-width: $max-mobile-width) {
    display: none;
  }
}
