.leasing-terms {
  margin-bottom: 50px;
  @media (min-width: $desktop-width) {
    margin-bottom: 110px;
  }
}
.leasing-terms__container {
}
.leasing-terms__content {
  display: flex;
  flex-direction: column;
  @media (min-width: $desktop-width) {
    flex-direction: row;
  }
}
.leasing-terms__title {
  margin-bottom: 30px;
}
.leasing-terms__list {
  @media (min-width: $desktop-width) {
    display: grid;
    margin-left: 100px;
    margin-right: 50px;
    grid-template-columns: repeat(3, auto);
    column-gap: 55px;
  }
}
.leasing-terms__item {
  align-items: flex-start;
}
.leasing-terms__item-text {
  color: $dark-color;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
}
