.leasing-terms {
  margin-bottom: 50px;

  @media (min-width: $desktop-width) {
    padding-top: 183px;
    padding-bottom: 50px;

    background-color: #fbfbfb;
  }
}

.leasing-terms__content {
  display: flex;
  flex-direction: column;
  @media (min-width: $desktop-width) {
    flex-direction: row;
  }
}
.leasing-terms__title {
  margin-bottom: 30px;
}
.leasing-terms__list {
  @media (min-width: $desktop-width) {
    display: grid;
    margin-right: 50px;
    margin-left: 100px;

    column-gap: 55px;

    grid-template-columns: repeat(3, auto);
  }
}
.leasing-terms__item {
  align-items: flex-start;
}
.leasing-terms__item-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: $dark-color;
}
