.leasing-header {
  position: relative;
  @media (min-width: $desktop-width) {
    min-height: 463px;
    margin-bottom: 83px + 100px;
  }
}
.leasing-header__title {
  margin-bottom: 30px;
  @media (min-width: $tablet-width) {
    margin-bottom: 50px;
  }
  @media (min-width: $desktop-width) {
    max-width: 700px;
    margin-top: 20px;
  }
}

.leasing-header__features {
  @media (max-width: $max-tablet-width) {
    margin-top: 20px;
  }
  @media (min-width: $desktop-width) {
    position: absolute;
    bottom: 0;

    transform: translateY(50%);
  }
}
.leasing-header__features-list {
  @media (min-width: $desktop-width) {
    display: grid;

    column-gap: 83px;

    grid-template-columns: repeat(4, auto);
  }
}
.leasing-header__feature-item {
  width: 250px;
  padding-right: 25px;
  padding-bottom: 15px;
  padding-left: 25px;

  font-size: 22px;
  text-align: center;

  @media (max-width: $desktop-width) {
    width: 210px;

    font-size: 17px;
    line-height: 21px;
  }

  @media (min-width: $desktop-width) {
    height: 175px;
    justify-content: center;
  }

  & .feature__value {
    line-height: 40px;
  }
}
