.leasing-section {
  margin-bottom: 50px;

  color: $dark-color;

  @media (min-width: $tablet-width) {
    margin-bottom: 80px;

    color: #fbfbfb;
  }
  @media (min-width: $desktop-width) {
    margin-bottom: 110px;
  }
}
.leasing-section__container {
  display: flex;
  flex-direction: column;


  @media (min-width: $tablet-width) and (max-width: $max-tablet-width) {
    padding: 50px 30px;
    padding-left: 50px;
    // background-color: fade-out($grey-color, 0.5);
  }
  @media (min-width: $desktop-width) {
  }
}
.leasing-section__content {
  position: relative;

  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    flex-direction: row;
  }
  @media (min-width: $tablet-width) {
    padding: 105px 65px 75px;
    overflow: hidden;

    background: linear-gradient(90deg, rgba(5, 21, 39, 0.62) 40.36%, rgba(0, 0, 0, 0) 75.26%);
    border: 5px solid $primary-color;
    border-radius: 2px;
  }
  @media (min-width: $min-mobile-width) and (max-width: $max-tablet-width) {
    margin-bottom: 15px;
  }
}
.leasing-section__text-content {
  width: 100%;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    width: 50%;
    margin-right: 50px;
  }
}
.leasing-section__title {
  margin-bottom: 15px;
}
.leasing-section__figure {
  margin: 0;
  padding: 0;

  @media (max-width: $max-mobile-width) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
    overflow: hidden;

    border-radius: 10px;
  }

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    width: 100%;
    height: 100%;
  }
}
.leasing-section__image {
  display: block;
  width: 100%;
  height: 100%;

  object-fit: cover;
}


.leasing-section__button {
  width: 280px;
  margin-top: auto;

  font-size: 20px;
  color: $primary-color;

  background-color: $secondary-color;

  &:hover {
    color: $secondary-color;

    background-color: $primary-color;
  }

  @media (max-width: $max-mobile-width) {
    width: 100%;
    max-width: 480px;

    font-size: 17px;
  }
}
.leasing-section__features {
  margin-top: 10px;
}
.leasing-section__features-list {
  @media (min-width: $desktop-width) {
    display: grid;

    column-gap: 60px;

    grid-template-columns: auto auto;
    row-gap: 80px;
  }
  @media (max-width: $max-mobile-width) {
    margin-bottom: 15px;
    padding-top: 30px;
  }
  @media (min-width: $tablet-width) and (max-width: $max-tablet-width) {
    margin-top: 35px;
  }
}
.leasing-section__feature-item {
  width: 250px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 25px;

  font-size: 22px;

  @media (max-width: $desktop-width) {
    width: 210px;

    font-size: 17px;
    line-height: 21px;
  }
}
