.menu {
  display: none;
  flex-direction: column;
  order: 3;

  color: #fbfbfb;

  background-color: $primary-color;

  @media (min-width: $desktop-width) {
    display: none;
  }
}
.menu--no-js {
  @media (max-width: $desktop-width) {
    display: flex;
  }
}
.menu--opened {
  @media (max-width: $desktop-width) {
    display: flex;
    width: 100%;
  }
}
.menu__main {
  margin-bottom: 25px;
}
.menu__list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}
.menu__item {
  position: relative;

  &:last-child::after {
    content: "";
    position: absolute;
    right: -17px;
    bottom: -1px;
    left: 0;

    height: 1px;

    background-color: rgba(245, 245, 245, 0.51);
  }

  &::before {
    content: "";
    position: absolute;
    top: -1px;
    right: -17px;
    left: 0;

    height: 1px;

    background-color: rgba(245, 245, 245, 0.51);
  }
}
.menu__link {
  position: relative;

  display: flex;
  padding: 13px 0;

  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: inherit;
  text-decoration: none;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 5px;

    width: 12px;
    height: 19px;

    background-image: url("@img/icons/arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    transform: translateY(-50%);
  }
}
.menu__link--end {
  &::after {
    content: none;
  }
}
.menu__sub {
  position: fixed;
  top: 0;
  left: 0;

  display: none;
}
.menu__sub--active {
  z-index: 1;

  display: block;
  width: 100%;
  height: 100%;
  padding-top: 20px;
  padding-right: 17px;
  padding-left: 17px;

  background-color: $primary-color;

  animation: showing-animation 0.3s forwards;
  // transform: translateX(50px);
}
.menu__back-button {
  position: relative;

  margin: 0;
  margin-bottom: 19px;
  padding: 13px 0;
  padding-left: 30px;

  font-size: 18px;
  line-height: 22px;
  color: inherit;

  background-color: transparent;
  border: none;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;

    width: 12px;
    height: 19px;

    background-image: url("@img/icons/arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    transform: translateY(-50%) rotate(180deg);
  }
}
.menu__second {
  margin-bottom: 15px;

  color: #fbfbfb;
}
.menu__second-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style-type: none;
}
.menu__second-item {
  margin-right: 25px;

  &:last-child {
    margin-right: 0;
  }
}
.menu__second-link {
  display: inline-flex;
  padding: 5px 0;

  font-size: 16px;
  line-height: 19px;
  color: inherit;
  text-decoration: none;
}
.menu__contacts {
  display: flex;
  flex-direction: column;
}
.menu__phone {
  display: block;

  font-size: 31px;
  line-height: 38px;
  color: inherit;
  text-decoration: none;
}
.menu__mail {
  display: block;
  margin-bottom: 35px;

  font-size: 20px;
  line-height: 24px;
  color: inherit;
  text-decoration: none;
}
.menu__back-call-button {
  align-self: center;
  box-sizing: content-box;
  width: 100%;
  max-width: 500px;
  height: 54px;
  margin-right: -17px;
  margin-left: -17px;

  color: $primary-color;

  background-color: $secondary-color;
}
