.modal {
  position: fixed;
  z-index: 9999;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  color: $dark-color;
  animation: showing-animation 0.3s ease;
}

.modal--open {
  display: flex;
}

.modal__wrapper {
  position: relative;
  flex-direction: column;
  width: 100%;
  max-width: 577px;;
  padding-top: 70px;
  padding-bottom: 70px;
  margin: auto;

  background-color: #ffffff;
  border-radius: 1px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    padding: 44px 70px 60px 50px;
    width: 577px;;
  }
}

.modal__title {
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 37px;

  @media (min-width: $tablet-width) {
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    margin-bottom: 15px;
    max-width: 450px;
  }
}

.modal__button-wrapper {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;

  @media (min-width: $desktop-width) {
    padding-top: 50px;
    // background-color: $body-second-bg;
  }
}

.modal--success .modal__message-wrapper {
  margin-bottom: 33px;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 39px;
  }
}

.modal__form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 280px;
}

.modal__close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &::before,
  &::after {
    position: absolute;
    top: 50%;
    left: 0;
    transform-origin: center;
    transform: translateY(-50%) rotate(45deg);
    content: "";
    width: 30px;
    height: 2px;
    background-color: $primary-color;
    transition: background-color 0.3s ease;

  }
  &::after {
    transform: translateY(-50%) rotate(-45deg);
  }
  &:hover,
  &:focus {
    &::before,
    &::after {
      background-color: $secondary-color;
    }

  }
}

.modal--callback {
  & .modal__wrapper {
    display: flex;
    flex-direction: row;

    @media (min-width: $desktop-width) {
      width: 1232px;
      max-width: 1232px;;
    }
  }

  & .modal__image-wrapper {
    position: relative;
    width: 500px;
    flex-shrink: 0;
    margin-right: 58px;
    @media (max-width: $max-tablet-width) {
      display: none;
    }
  }
  & .modal__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .modal__cloud {
    position: absolute;
    bottom: 55px;
    right: 50px;
    max-width: 176px;
    padding: 17px;
    padding-bottom: 22px;
    background-color: #fff;
    border-radius: 5px;
    cursor: default;
  }
  .modal__cloud-title {
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 5px;
  }
  .modal__cloud-text {
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 15px;
    line-height: 17px;
  }
}
