
.nav__list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style-type: none;
}
.nav__item + .nav__item {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 25px;
    bottom: 25px;
    z-index: 1;

    width: 1px;

    background-color: #dddddd;
  }
}
.nav__link {
  position: relative;

  display: block;
  max-width: 210px;
  padding: 20px 20px;

  font-weight: 600;
  font-size: 18px;
  line-height: calc(22/18) * 100%;
  color: #000000;
  text-decoration: none;

  transition: color 0.3s, background-color 0.3s;
}
.nav__link-icon {
  position: absolute;
  left: 20px;

  transition: color 0.3s, background-color 0.3s;
}


// ---------------------------------------------------------------
// site-nav


.site-nav__link {
  color: #ffffff;

  &:hover {
    color: $primary-color;

    background-color: $secondary-color;
  }
}

.site-nav__link--catalog {
  position: relative;

  padding-left: 50px;

  &::before {
    content: "";
    position: absolute;
    top: 20px;
    left: 17px;

    width: 23px;
    height: 4px;

    background-color: #ffffff;
    border-radius: 2px;
    box-shadow: 0 8px 0 0 #ffffff, 0 16px 0 0 #ffffff;
  }

  &:hover {
    &::before {
      background-color: $primary-color;
      box-shadow: 0 8px 0 0 $primary-color, 0 16px 0 0 $primary-color;
    }
  }
}

// ---------------------------------------------------------------
// site-nav
.user-nav {
  flex-shrink: 0;
  margin-left: auto;
}
.user-nav__item + .user-nav__item::before {
  background-color: $primary-color;
}

.user-nav__link {
  color: $primary-color;

  background-color: $secondary-color;

  &:hover {
    color: $secondary-color;

    background-color: $primary-color;
  }
}

.user-nav__link--comparison,
.user-nav__link--search {
  padding-left: 57px;
}

.user-nav__link .nav__link-icon {
  fill: $primary-color;
  stroke: $primary-color;
}
.user-nav__link:hover .nav__link-icon {
  fill: $secondary-color;
  stroke: $secondary-color;
}
