
.nav__list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style-type: none;
}
.nav__item {
  &--dropdown {
    position: relative;
  }
}
.nav__item + .nav__item {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;

    width: 0.5px;

    background-color: #e0e0e0;
  }
}
.nav__link {
  position: relative;

  display: flex;
  max-width: 210px;
  padding: 0 20px;
  height: 63px;
  align-items: center;

  font-weight: 600;
  font-size: 18px;
  line-height: calc(22/18) * 100%;
  color: #000000;
  text-decoration: none;

  transition: color 0.3s, background-color 0.3s;
}
.nav__link-icon {
  position: absolute;
  left: 20px;

  transition: color 0.3s, background-color 0.3s;
}


// ---------------------------------------------------------------
// site-nav

.site-nav {
  background-color: #fff;

  &::before {
    @media (min-width: $desktop-width) {
      content: "";
      position: absolute;
      top: 2px;
      bottom: 2px;
      left: 0;
      right: 40%;
      background-color: #fff;
    }

  }
  @media (max-width: $desktop-width) {
    order: 2;
    display: none;
  }
}
.site-nav__link {
  color: $primary-color;
  transition: 0.5s background-color ease;

  &:hover {
    background-color: $secondary-color;
  }
}

.site-nav__link--catalog {
  position: relative;

  padding-left: 50px;
  background-color: $secondary-color;

  &:hover {
    background-color: transparent;
  }

  &::before {
    content: "";
    position: absolute;
    top: 20px;
    left: 17px;

    width: 23px;
    height: 4px;

    background-color: $primary-color;
    border-radius: 2px;
    box-shadow: 0 8px 0 0 $primary-color, 0 16px 0 0 $primary-color;
  }
}
.site-nav__dropdown {
  display: none;
  animation: showing-animation 0.3s forwards;
}
.nav__item--dropdown:hover .site-nav__dropdown{
  display: block;
}

// ---------------------------------------------------------------
// .user-nav

.user-nav {
  flex-shrink: 0;
  flex-grow: 1;
  margin-left: 3px;

  @media (max-width: $desktop-width) {
    order: 1;
  }
}
.user-nav__item + .user-nav__item::before {
  background-color: $primary-color;
}

.user-nav__link {
  color: $primary-color;

  background-color: $secondary-color;

  &:hover {
    color: $secondary-color;

    background-color: $primary-color;
  }
}

.user-nav__link--comparison,
.user-nav__link--search {
  padding-left: 57px;
}

.user-nav__link .nav__link-icon {
  fill: $primary-color;
  stroke: $primary-color;
}
.user-nav__link:hover .nav__link-icon {
  fill: $secondary-color;
  stroke: $secondary-color;
}
.user-nav__search {
  @media (max-width: $desktop-width) {
    margin-top: 22px;
    margin-bottom: 22px;
  }
}
