.new-offers {
}
.new-offers__container {
}
.new-offers__title {
}
.new-offers__product-card {
  height: 100%;
}
.new-offers__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-top: 38px;
  padding: 0;
  list-style-type: none;
}
.new-offers__item {
}
