.news-article {
  margin-bottom: 50px;

  color: $dark-color-second;
  @media (min-width: $tablet-width) {
    margin-bottom: 80px;
  }
  @media (min-width: $desktop-width) {
    margin-bottom: 130px;
  }
}

.news-article__header {
  margin-bottom: 30px;
  @media (min-width: $desktop-width) {
    max-width: 70%;
  }
}
.news-article__title {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;

  font-weight: 700;
  font-size: 30px;
  line-height: 37px;

  @media (min-width: $desktop-width) {
    font-size: 50px;
    line-height: 61px;
  }
}
.news-article__tags {
  display: flex;
  flex-wrap: wrap;

  gap: 10px;
}
.news-article__tag {
  justify-content: center;
  align-items: center;
  height: 32px;
  padding: 7px 20px;

  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #ffffff;

  background-color: $primary-color;
}


.news-article__paragraph {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;

  font-size: 18px;
  line-height: 24px;
  @media (min-width: $tablet-width) {
    max-width: 80%;
  }
}
.news-article__figure {
  max-width: 100%;
  margin: 0;
  padding: 0;
}
