.offers {
  margin-bottom: 50px;

  @media (min-width: $tablet-width) {
    margin-bottom: 80px;
  }
  @media (min-width: $desktop-width) {
    margin-bottom: 110px;
  }
}
.offers__container {
}
.offers__buttons {
  display: none;
  @media (min-width: $desktop-width) {
    display: block;
  }
}
.offers__buttons-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 9px;
  margin-bottom: 30px;
}
.offers__tabs-list {
  margin-bottom: 35px;
  @media (max-width: $desktop-width) {
    display: none;
  }
}
.offers__button {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.offers__button--active {
  position: relative;

  &::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
    color: $primary-color;
    background-color: $secondary-color;
  }
}
.offers__title {
  margin-bottom: 35px;
}
.offers__product-card {
  height: 100%;
}
.offers__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-top: 38px;
  padding: 0;
  list-style-type: none;

  @media (max-width: $max-mobile-width) {
    padding-bottom: 70px;
  }
  @media (max-width: $max-tablet-width) {
    flex-direction: row;
    gap: 15px;
  }

}
.offers__item {
  // height: 100%;
}
.offers__select {
  @media (min-width: $desktop-width) {
    display: none;
  }
}

// Стили для селекта

.offers__select-container {
  position: relative;
  box-sizing: border-box;
  font-weight: 600;
  font-size: 17px;
  line-height: 21px;
  color: $dark-color;
  z-index: 100;
  margin-bottom: 35px;

  @media (min-width: $desktop-width) {
    display: none;
  }
}
.offers__select-container * {
  box-sizing: border-box;
}
.offers__select-container.is-disabled {
  opacity: .333;
}
.offers__select-opener {
  display: block;
  // height: 55px;
  // TODO Спросить у Ромы
  cursor: pointer;
  width: 100%;
  padding: 17px 32px;
  background-color: $secondary-color;
  color: $primary-color;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 20px;
    width: 19px;
    height: 13px;
    background-image: url("@img/icons/select-arrow-blue.svg");
    background-repeat: no-repeat;
    background-position: center;
    transform: translateY(-50%);
  }
}
.offers__select-container select {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.offers__select-panel {
  max-height: 0;
  // transition: max-height .5s ease-out, overflow-y 0.1s 0.5s;
  overflow: hidden;
  background-color: #fff;
  position: absolute;
  top: 100%;
  z-index: 1;
  width: 100%;
}
.offers__select-container.is-open .offers__select-panel {
  max-height: 10.7em;
  overflow-y: auto;
  border: 0.3px solid $secondary-color;
  border-top: none;
  border-radius: 1px;
}
.offers__select-option {
  // height: 50px;
  // TODO Спросить у Ромы
  padding: 14.5px 32px;
  border: 1px solid $secondary-color;
  border-radius: 1px;
}
.offers__select.has-focus {
  background-color: LightBlue;
}
.offers__select-option.is-selected {
  // background-color: tomato;
}
.offers__select-option.is-selected::before {
  content: "✔";
  padding-right: 0.5em;
}
.offers__select-optgroup > .offers__select-option {
  padding-left: 2em;
}
// .offers__select-optgroup::before {
//   content: attr(data-label);
//   display: block;
//   padding: 0.5em;
//   color: #888;
// }
