.page-footer {
  padding-top: 30px;
  padding-bottom: 30px;

  color: #f0f0f3;

  background-color: $blue-color;
}

.page-footer__content {
  display: flex;
  flex-wrap: wrap;

  gap: 25px;
}
.page-footer__link {
  color: inherit;
  text-decoration: none;

  transition: color 0.3s ease 0s;
  &:hover {
    color: $yellow-color;
  }
}

.page-footer__copyright {
  margin-left: auto;
}
.page-footer__text {
  font-size: 17px;
  line-height: calc(21 / 17) * 100%;
}
