.page-header__nav-container {
  display: flex;
}
.page-header__top {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 120px;
  margin-bottom: 2px;
  z-index: 1;
  background-color: #014898;

  &::after {
    position: absolute;
    content: "";
    top: 2.2px;
    bottom: 0;
    left: 70%;
    right: 0;
    background-color: #fcc200;
    z-index: -1;
    @media (min-width: $br5) {
      left: 55%;
    }
  }
}
.page-header__bottom {
  position: relative;
  padding-top: 2px;
  padding-bottom: 2px;

  background-color: $primary-color;
}

.page-header__logos {
  display: flex;
  align-items: center;
  max-width: 580px;
  height: 100%;
  align-self: center;
}

.page-header__container {
  display: flex;
  flex-grow: 1;
  height: 100%;
}

.page-header__logo--techstroiproject {
  margin-right: 39px;
  max-width: 100%;
}

.page-header__contacts {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  width: 50%;
  justify-content: center;
  align-items: flex-end;
  background-image: url("@img/header-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
}
.page-header__phones {
  display: flex;
}
.page-header__messengers {
  display: flex;
  max-width: 400px;
}
.page-header__messenger {
  display: block;
  width: 27px;
  height: 27px;

  background-repeat: no-repeat;
  background-position: center;
}
.page-header__phone {
  margin-left: 10px;

  font-weight: 600;
  font-size: 26px;
  line-height: 32px;
  color: $dark-color;
  text-decoration: none;

  transition: opacity 0.3s ease;
  &:hover {
    opacity: 0.6;
  }
}
.page-header__mail {
  display: block;

  font-weight: 400;
  font-size: 18px;
  line-height: 21 зч;
  color: $dark-color;
  text-decoration: none;

  transition: opacity 0.3s ease;
  &:hover {
    opacity: 0.7;
  }
}
