.page-footer {
  background-color: $blue-color;
  color: #F0F0F3;
  padding-top: 30px;
  padding-bottom: 30px;
}
.page-footer__container {

}
.page-footer__content {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}
.page-footer__link {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s ease 0s;
  &:hover {
    color: $yellow-color;
  }
}

.page-footer__copyright {
  margin-left: auto;
}
.page-footer__text {
  font-size: 17px;
  line-height: calc(21 / 17) * 100%;
}

