.page-header__container {
  position: relative;
}
.page-header__nav-container {
  display: flex;
  @media (max-width: $desktop-width) {
    flex-direction: column;
  }
}
.page-header__top {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 120px;
  margin-bottom: 2px;
  z-index: 1;
  background-color: #014898;

  &::after {
    position: absolute;
    content: "";
    top: 2.2px;
    bottom: 0;
    left: 70%;
    right: 0;
    background-color: #fcc200;
    z-index: -1;
    @media (min-width: $br5) {
      left: 55%;
    }
    @media (max-width: $desktop-width) {
      display: none;
    }
  }

  @media (max-width: $desktop-width) {
    min-height: auto;
    height: 99px;
    padding-top: 5px;
    padding-bottom: 14px;
    background-image: url("@img/header-bg-mobile.svg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: auto 102%;
  }
}
.page-header__bottom {
  position: relative;
  // position: absolute;
  // top: 0;
  // left: 0;
  // z-index: 1;
  padding-top: 2px;
  padding-bottom: 2px;

  background-color: $primary-color;
  @media (max-width: $desktop-width) {
    display: none;
    overflow: hidden;
    background-color: $primary-color;
  }
}
.page-header__bottom--no-js {
  @media (max-width: $desktop-width) {
    display: block;
  }
}
.page-header__bottom--opened {
  @media (max-width: $desktop-width) {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    animation: showing-animation 0.5s forwards;
  }
}

.page-header__logos {
  display: flex;
  align-items: center;
  max-width: 580px;
  height: 100%;
  align-self: center;
  @media (max-width: $desktop-width) {
    justify-content: center;
    margin: 0 auto;
  }
  @media (max-width: $max-mobile-width) {
    flex-direction: column;
    width: 100%;
  }
}

.page-header__container {
  display: flex;
  flex-grow: 1;
  height: 100%;
}
.page-header__logo {
  min-height: 0;
  max-height: 100%;
  width: 100%;
  & img {
    display: block;
    object-fit: contain;
  }
}
.page-header__logo--techstroiproject {
  margin-right: 39px;
  max-width: 100%;
  @media (max-width: $desktop-width) {

  }
  @media (max-width: $max-mobile-width) {
    max-width: 151px;
    margin-right: 0px;
    margin-bottom: 9px;
  }
}
.page-header__logo--xcmg {
  @media (max-width: $desktop-width) {

  }
  @media (max-width: $max-mobile-width) {
    max-width: 87px;
  }
}

.page-header__contacts {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  width: 50%;
  justify-content: center;
  align-items: flex-end;
  background-image: url("@img/header-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;

  @media (max-width: $desktop-width) {
    display: none;
  }
}
.page-header__phones {
  display: flex;
}
.page-header__messengers {
  display: flex;
  max-width: 400px;
}
.page-header__messenger {
  display: block;
  width: 27px;
  height: 27px;

  background-repeat: no-repeat;
  background-position: center;
}
.page-header__phone {
  margin-left: 10px;

  font-weight: 600;
  font-size: 26px;
  line-height: 32px;
  color: $dark-color;
  text-decoration: none;

  transition: opacity 0.3s ease;
  &:hover {
    opacity: 0.6;
  }
}
.page-header__mail {
  display: block;

  font-weight: 400;
  font-size: 18px;
  line-height: 21 зч;
  color: $dark-color;
  text-decoration: none;

  transition: opacity 0.3s ease;
  &:hover {
    opacity: 0.7;
  }
}
