.product-page {
  margin-bottom: 50px;
  @media (min-width: $desktop-width) {
    margin-bottom: 80px;
  }
}
.product-page__container {
}
.product-page__breadcumbs {
  margin-top: 25px;
  margin-bottom: 20px;

  @media (min-width: $desktop-width) {
    margin-top: 75px;
    margin-bottom: 55px;
  }
}
.product-page__info {
  display: flex;
  flex-direction: column;
  gap: 35px;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
