.product-card {
  min-width: 284px;
  max-width: 402px;
  // width: 402px;
  height: 100%;
  padding: 30px 38px 65px 38px;
  border: 3px solid #004496;

  @media (max-width: $desktop-width) {
    // width: 284px;
    // width: 100%;
    max-width: 330px;
    padding: 22px 27px;
  }
}
.product-card__content {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.product-card__link {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.product-card__link:hover ~ .product-card__title {
  transition: color 0.3s ease;
  color: $secondary-color;
}
.product-card__compare-button {
  display: inline-flex;
  z-index: 1;
  width: fit-content;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
  margin: 0;
  padding: 0;
  margin-left: auto;
  border: none;
  background-color: transparent;
  color: $grey-color;
  cursor: pointer;
  margin-bottom: 5px;

  & span {
    @media (max-width: $desktop-width) {
      display: none;
    }
  }

  @media (max-width: $desktop-width) {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
  }
}
.product-card__compare-icon {
  margin-left: 5px;
  fill: $grey-color;
  stroke: $grey-color;
  stroke-width: 0.8px;
  @media (max-width: $desktop-width) {
    fill: $primary-color;
    margin: 0;
    width: 25px;
    height: 25px;
    stroke: $primary-color;
    stroke-width: 1.8px;
  }
}
.product-card__figure {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  max-height: 224px;
  min-height: 158px;
}
.product-card__image {
  display: block;
  height: 100%;
  max-height: 100%;
  margin: auto;
  object-fit: cover;
  border-radius: 1px;
}
.product-card__title {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: $dark-color;
  overflow: hidden;
  @media (min-width: $desktop-width) {
    font-size: 22px;
    line-height: 29px;
  }

}
.product-card__features {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
}
.product-card__feature {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  color: $dark-color-second;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  padding-left: 25px;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;

    width: 15.9px;
    height: 13px;

    background-image: url("@img/icons/list-check-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transform: translateY(-50%);
  }

  @media (max-width: $desktop-width) {
    font-size: 14px;
    line-height: 17px;
  }
}
.product-card__feature-name {
  margin: 0;
  padding: 0;
}
.product-card__feature-value {
  margin: 0;
  margin-left: 5px;
  padding: 0;
}
.product-card__price-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.product-card__price {
  font-weight: 600;
  font-size: 27px;
  line-height: 33px;
  color: $dark-color;

  @media (max-width: $desktop-width) {
    margin-bottom: 2px;
    font-size: 22px;
    line-height: 26px;
  }
}
.product-card__sale-container {
  display: none;
}
.product-card--sale .product-card__sale-container {
  display: flex;
  align-items: center;
}
.product-card__discount-price {
  margin-right: 10px;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-decoration-line: line-through;
  color: #9b9b9b;

  @media (max-width: $desktop-width) {
    font-size: 13px;
    line-height: 16px;
  }
}
.product-card__discount-value {
  display: inline-flex;
  height: 22px;
  padding: 0 8px;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: $primary-color;
  background-color: $secondary-color;

  @media (max-width: $desktop-width) {
    height: 20px;
    padding: 0 3px;
    font-size: 11px;
    line-height: 13px;
  }
}
.product-card__attributes {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 90%;
  position: absolute;
  top: 20px;
  left: 2px;
  overflow: hidden;

  @media (max-width: $desktop-width) {
    position: static;
    flex-direction: row;
    max-width: 70%;
    margin-bottom: 10px;
  }
}
.product-card__attribute {
  display: none;
  height: 32px;
  padding: 7px 21px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  align-items: center;
  justify-content: center;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;

  @media (max-width: $desktop-width) {
    width: 84px;
    height: 28px;
    padding: 0;
    font-size: 12px;
    line-height: 15px;

  }
}
.product-card__attribute--new {
  background-color: $primary-color;
}
.product-card__attribute--sale {
  background-color: $secondary-color;
  color: $primary-color;
}
.product-card--new .product-card__attribute--new {
  display: inline-flex;
}
.product-card--sale .product-card__attribute--sale {
  display: inline-flex;
}
.product-card__buttons {
  display: flex;
  flex-direction: column;
  gap: 8px;
  z-index: 1;
  margin-top: auto;
}
.product-card__button {
  min-width: 0;
  width: 100%;
  height: 65px;

  @media (max-width: $desktop-width) {
    height: 60px;
  }
}
.product-card--no-price .product-card__price-container {
  display: none;
}
.product-card__button--no-price {
  display: none;
}
.product-card--no-price .product-card__button {
  display: none;
}
.product-card--no-price .product-card__button--no-price {
  display: inline-flex;
  // height: 65px;
}

// ================================================================
// Для страницы продукта
.product-card--full {
  min-width: none;
  max-width: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  margin-bottom: 60px;
  border: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 80px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 105px;
  }

  & .product-card__content {
    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-template-rows: repeat(5, auto);
      column-gap: 30px;
    }
    @media (min-width: $desktop-width) {
      display: grid;
      grid-template-columns: 2fr 3fr;
      grid-template-rows: repeat(5, auto);
      column-gap: 65px;
    }
  }

  & .product-card__gallery {
    order: 3;
    @media (max-width: $max-mobile-width) {
      margin-bottom: 20px;
    }
    @media (min-width: $tablet-width) {
      width: 100%;
      overflow: hidden;
      grid-column: 2;
      grid-row: 1 / -1;
      height: fit-content;
    }
  }

  & .product-card__attributes {
      order: 2;
    @media (max-width: $max-tablet-width) {
      // order: 2;
    }
    @media (min-width: $desktop-width) {
      position: absolute;
      top: 20px;
      left: auto;
      right: calc(50% - 6px);
      z-index: 2;
    }
  }

  & .product-card__title {
    order: 1;
    @media (min-width: $tablet-width) {
      color: #242424;
    }

    @media (min-width: $desktop-width) {
      font-weight: 700;
      font-size: 50px;
      line-height: 61px;
    }
  }

  & .product-card__features {
    order: 4;
    margin-bottom: 26px;

    @media (min-width: $tablet-width) {
      margin-bottom: 38px;
    }
  }

  & .product-card__price-container {
    order: 5;
    margin-bottom: 26px;

    @media (min-width: $tablet-width) {
      margin-bottom: 38px;
    }
  }

  & .product-card__buttons {
    order: 6;
  }
  & .product-card__button {

    @media (min-width: $tablet-width) {
      max-width: 274px;
    }
    &--leasing {
      color: $secondary-color;
      background-color: transparent;
      border: 2px solid $secondary-color;

      &:hover {
        border: none;
        background-color: $primary-color;
      }
    }
  }
}

// Для результатов поиска
.product-card--search-result {
  position: relative;
  padding: 0;
  border: none;
  max-width: 325px;
  transition: opacity 0.3s ease;

  & .product-card__title {
    font-size: 22px;
    line-height: 29px;
  }
  & .product-card__attributes {
    flex-direction: column;
    position: absolute;
    top: 10px;
    left: 0;
  }
}
