


.repair__main {
  @media (min-width: $tablet-width) {
    // width: 40%;
    // flex-shrink: 0;
  }
}


.repair__list {
  width: 90%;
  margin-top: 30px;
  margin-bottom: 20px;
}
.repair__list-item {
  padding-right: 82px;
}

.repair__item--gear::before {
  background-image: url("@img/icons/gear-icon.svg");
}
.repair__item--warehouse::before {
  background-image: url("@img/icons/delivery-icon.svg");
}
.repair__item--personal::before {
  background-image: url("@img/icons/repair-icon.svg");
}
.repair__image-container {
  @media (min-width: $desktop-width) {
    flex-shrink: 0;
    max-width: 794px;
  }
}
