.section {
  font-size: 17px;
  line-height: calc(21 / 17) * 100%;
  color: $dark-color;
  margin-bottom: 110px;
}
.section__content {
  display: flex;
}
.section__main {
  display: flex;
  flex-direction: column;
  width: 30%;
  flex-shrink: 0;
  margin-right: 33px;
}
.section__title {
  width: 80%;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;

  font-weight: 700;
  font-size: 40px;
  line-height: calc(49 / 40) * 100%;
  color: $dark-color;
}
.section__text {
  margin: 0;
  padding: 0;
  width: 80%;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}
.section__list {
  flex-grow: 1;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  list-style-type: none;
}
.section__item {
  display: flex;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 15px;
  }

  &::before {
    content: "";

    display: block;
    flex-shrink: 0;
    width: 58px;
    height: 72px;
    margin-right: 14px;

    background-repeat: no-repeat;
    background-position: center;
  }
}
.section__item-text {
  margin: 0;
  padding: 0;
}
.section__image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  max-width: 860px;
  margin-left: auto;
  flex-grow: 1;
  border: 4px solid #004496;
  border-radius: 1px;
}
.section__image {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
