.section {
  margin-bottom: 50px;

  font-size: 17px;
  line-height: calc(21 / 17) * 100%;
  color: $dark-color;

  @media (min-width: $tablet-width) {
    margin-bottom: 80px;
  }
  @media (min-width: $desktop-width) {
    margin-bottom: 110px;
  }
}
.section__content {
  display: flex;

  @media (max-width: $max-mobile-width) {
    flex-direction: column;
  }
}
.section__main {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    width: 60%;
    margin-right: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 35%;
    // flex-shrink: 0;
    margin-right: 33px;
  }
}
.section__title {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;

  font-weight: 700;
  font-size: 40px;
  line-height: calc(49 / 40) * 100%;
  color: $dark-color;

  @media (max-width: $desktop-width) {
    font-size: 30px;
    line-height: 37px;
  }
}
.section__sub-title {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;

  font-weight: 700;
  font-size: 22px;
  line-height: calc(37 / 30) * 100%;

  @media (min-width: $desktop-width) {
    font-size: 30px;
  }
}
.section__text {
  margin: 0;
  padding: 0;

  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}
.section__list {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  list-style-type: none;
}
.section__item {
  display: flex;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 15px;
  }
}
.section__item-icon {
  position: relative;

  display: block;
  flex-shrink: 0;
  box-sizing: content-box;
  width: 36px;
  height: 36px;
  margin: 10px 0;
  margin-right: 45px;

  background-color: $secondary-color;
  border-radius: 50%;

  &::before {
    content: "";
    position: absolute;
    bottom: 50%;
    left: 50%;

    display: block;
    width: 40px;
    height: 50px;

    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
  }

  &--urgent::before {
    background-image: url("@img/icons/urgently-icon.svg");
    transform: translate(-5px, 5px);
  }
  &--warehouse::before {
    background-image: url("@img/icons/delivery-icon.svg");
    transform: translate(-5px, 5px);
  }
  &--spec::before {
    background-image: url("@img/icons/gear_and_search-icon.svg");
    transform: translate(-5px, 5px);
  }
  &--help::before {
    background-image: url("@img/icons/repair-icon.svg");
    transform: translate(-5px, 5px);
  }
  &--gear::before {
    background-image: url("@img/icons/gear-icon.svg");
    transform: translate(-5px, 5px);
  }
  &--docs::before {
    background-image: url("@img/icons/docs-icon.svg");
    transform: translate(-5px, 5px);
  }
  &--pasport::before {
    background-image: url("@img/icons/pasport-icon.svg");
    transform: translate(-5px, 5px);
  }
  &--graph::before {
    background-image: url("@img/icons/graph-icon.svg");
    transform: translate(-5px, 5px);
  }
}
.section__item-text {
  margin: 0;
  padding: 0;
}
.section__image-container {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  max-width: 860px;
  margin: 0;
  margin-left: auto;
  padding: 0;

  border: 4px solid #004496;
  border-radius: 1px;

  @media (max-width: $max-mobile-width) {
    margin: 0;
    margin-bottom: 10px;
    overflow: hidden;

    border: none;
    border-radius: 10px;
  }
}
.section__image {
  display: block;
  width: 100%;
  height: 100%;

  object-fit: cover;

  @media (min-width: $desktop-width) {
    object-fit: contain;
  }
}
