.spareparts {
  font-size: 17px;
  line-height: calc(21 / 17) * 100%;
  color: $dark-color;
  margin-bottom: 50px;

  @media (min-width: $tablet-width) {
    margin-bottom: 80px;
  }
  @media (min-width: $desktop-width) {
    margin-bottom: 110px;
  }

}

.spareparts__container {
  position: relative;
  @media (max-width: $max-mobile-width) {
    padding-bottom: 70px;
  }
}
.spareparts__content {
}
.spareparts__main {
  @media (min-width: $tablet-width) {
    width: 60%;
    margin-right: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 30%;
    flex-shrink: 0;
    margin-right: 33px;
  }
}

.spareparts__add-info {
  margin: 0;
  padding: 0;

  font-style: italic;
  font-weight: 400;
  font-size: 17px;
  line-height: calc(21 / 17) * 100%;
  color: #616161;
}
.spareparts__list {
  flex-grow: 1;
  margin-bottom: 20px;
  margin-top: 30px;
  // width: 70%;
}
.spareparts__item--urgent::before {
  background-image: url("@img/icons/urgently-icon.svg");
}
.spareparts__item--warehouse::before {
  background-image: url("@img/icons/delivery-icon.svg");
}
.spareparts__item--help::before {
  background-image: url("@img/icons/gear-icon.svg");
}

.spareparts__item-text {
  margin: 0;
  padding: 0;
}
.spareparts__button {
  max-width: 302px;

  @media (max-width: $max-mobile-width) {
    position: absolute;
    bottom: 0;
    left: 17px;
    right: 17px;
    width: auto;
    max-width: 500px;
    // width: 100%;
  }
}
.spareparts__image {
  // object-fit: cover;
}
