.spareparts {
  font-size: 17px;
  line-height: calc(21 / 17) * 100%;
  color: $dark-color;
  margin-bottom: 110px;
}

.spareparts__container {

}
.spareparts__content {
  display: flex;
}
.spareparts__main {
  display: flex;
  flex-direction: column;
  width: 30%;
  flex-shrink: 0;
  margin-right: 33px;
}
.spareparts__header {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;

  font-weight: 700;
  font-size: 40px;
  line-height: calc(49 / 40) * 100%;
}
.spareparts__add-info {
  margin: 0;
  padding: 0;

  font-style: italic;
  font-weight: 400;
  font-size: 17px;
  line-height: calc(21 / 17) * 100%;
  color: #616161;
}
.spareparts__list {
  flex-grow: 1;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  padding-top: 30px;

  list-style-type: none;
}
.spareparts__list-item {
  display: flex;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 15px;
  }
}
.spareparts__list-item {
  &::before {
    content: "";

    display: block;
    flex-shrink: 0;
    width: 58px;
    height: 72px;
    margin-right: 14px;

    background-repeat: no-repeat;
    background-position: center;
  }
}
.spareparts__list-item--urgent::before {
  background-image: url("@img/icons/urgently-icon.svg");
}
.spareparts__list-item--warehouse::before {
  background-image: url("@img/icons/delivery-icon.svg");
}
.spareparts__list-item--help::before {
  background-image: url("@img/icons/gear-icon.svg");
}

.spareparts__list-item-content {
  margin: 0;
  padding: 0;
}
.spareparts__button {
  max-width: 302px;
}

.spareparts__image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  max-width: 860px;
  margin-left: auto;
  flex-grow: 1;
  border: 4px solid #004496;
  border-radius: 1px;
}
.spareparts__image {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
