.spareparts {
  font-size: 17px;
  line-height: calc(21 / 17) * 100%;
  color: $dark-color;
  margin-bottom: 50px;

  @media (min-width: $tablet-width) {
    margin-bottom: 80px;
  }
  @media (min-width: $desktop-width) {
    margin-bottom: 110px;
  }

}

.spareparts__container {
  position: relative;
  @media (max-width: $max-mobile-width) {
    padding-bottom: 70px;
  }
}
.spareparts__content {
  display: flex;

  @media (max-width: $max-mobile-width) {
    flex-direction: column;
  }
}
.spareparts__main {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    width: 60%;
    margin-right: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 30%;
    flex-shrink: 0;
    margin-right: 33px;
  }
}
.spareparts__header {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;

  font-weight: 700;
  font-size: 40px;
  line-height: calc(49 / 40) * 100%;

  @media (max-width: $desktop-width) {
    font-size: 30px;
    line-height: 37px;
  }
}
.spareparts__add-info {
  margin: 0;
  padding: 0;

  font-style: italic;
  font-weight: 400;
  font-size: 17px;
  line-height: calc(21 / 17) * 100%;
  color: #616161;
}
.spareparts__list {
  flex-grow: 1;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  margin-top: 30px;

  list-style-type: none;
}
.spareparts__list-item {
  display: flex;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 15px;
  }
}
.spareparts__list-item {
  &::before {
    content: "";

    display: block;
    flex-shrink: 0;
    width: 58px;
    height: 72px;
    margin-right: 14px;

    background-repeat: no-repeat;
    background-position: center;

    @media (max-width: $max-mobile-width) {
      // width: 39px;
      // height: 50px;
      // background-size: contain;
    }
  }
}
.spareparts__list-item--urgent::before {
  background-image: url("@img/icons/urgently-icon.svg");
}
.spareparts__list-item--warehouse::before {
  background-image: url("@img/icons/delivery-icon.svg");
}
.spareparts__list-item--help::before {
  background-image: url("@img/icons/gear-icon.svg");
}

.spareparts__list-item-content {
  margin: 0;
  padding: 0;
}
.spareparts__button {
  max-width: 302px;

  @media (max-width: $max-mobile-width) {
    position: absolute;
    bottom: 0;
    left: 17px;
    right: 17px;
    width: auto;
    max-width: 500px;
    // width: 100%;
  }
}

.spareparts__image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  max-width: 860px;
  margin-left: auto;
  flex-grow: 1;
  border: 4px solid #004496;
  border-radius: 1px;

  @media (max-width: $max-mobile-width) {
    margin: 0;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
    overflow: hidden;
  }
}
.spareparts__image {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
