.tabs {
  color: $dark-color;
}
.tabs__list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style-type: none;

  gap: 9px;
}
.tabs__item {
  flex-grow: 1;
}
.tabs__button {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0;
  padding: 10px 42px 10px 42px;

  font-weight: 600;
  font-size: 17px;
  line-height: 21px;

  background-color: transparent;
  border: 1px solid $secondary-color;
  border-radius: 1px;
  cursor: pointer;

  transition: color 0.3s, background-color 0.3s;
  &:hover {
    color: $primary-color;

    background-color: $secondary-color;
  }
}
.tabs__button--active {
  color: $primary-color;

  background-color: $secondary-color;
}
