.tech-tabs {
}
.tech-tabs__container {
  display: flex;
}
.tech-tabs__list {
  width: 292px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.tech-tabs__item {
}
.tech-tabs__button {
}
.tech-tabs__tabs {
}
.tech-tabs__tab {
}
.tech-tabs__tab-title {
}
.tech-tabs__tab-subtitle {
}
.tech-tabs__tab-list {
}
.tech-tabs__tab-list-item {
}
.tech-tabs__tab-list-link {
}
.tech-tabs__tab-image {
}
