.tech-tabs {
  margin-top: 75px;
  margin-bottom: 90px;

  @media (max-width: $desktop-width) {
    margin-top: 0;
    margin-bottom: 55px;
  }
}
.tech-tabs__title {
  margin-bottom: 15px;
  @media (min-width: $desktop-width) {
    display: none;
  }
}
.tech-tabs__container {
  display: flex;
}
.tech-tabs__list {
  display: flex;
  flex-direction: column;
  width: 292px;
  margin-right: 30px;

  gap: 11px;

  @media (max-width: $desktop-width) {
    width: 100%;
    margin-right: 0;
  }
}
.tech-tabs__item {
  width: 100%;
}
.tech-tabs__button {
  display: flex;
  justify-content: flex-start;
  padding: 10px 20px 10px 42px;

  color: inherit;
  text-decoration: none;
}
.tech-tabs__panels {
  flex-grow: 1;

  background: linear-gradient(89.78deg, rgba(117, 163, 214, 0.2) 0.21%, rgba(151, 202, 251, 0.2) 42.41%, rgba(100, 151, 220, 0.2) 99.83%);

  @media (max-width: $desktop-width) {
    display: none;
  }
}
.tech-tabs__panel {
  position: relative;
  z-index: 1;

  height: 100%;
  padding-top: 60px;
  padding-left: 110px;
  overflow: hidden;

  border: 3px solid #004496;
  border-radius: 1px;
}
.tech-tabs__panel-title {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;

  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
}
.tech-tabs__panel-subtitle {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;

  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}
.tech-tabs__panel-list {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  list-style-type: none;
  &:last-of-type {
    margin-bottom: 0;
  }
}
.tech-tabs__panel-list--grid {
  display: grid;
  width: 200px;
  overflow: hidden;

  column-gap: 20px;

  grid-auto-rows: 0;
  grid-template-columns: max-content max-content;
  grid-template-rows: repeat(5, auto);
}
.tech-tabs__panel-list-item {
  margin-bottom: 5px;
}
.tech-tabs__panel-list-link {
  font-size: 17px;
  line-height: 18px;
  color: inherit;
  text-decoration: none;

  transition: opacity 0.3s ease;
  &:hover {
    opacity: 0.7;
  }
}
.tech-tabs__panel-image {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.tech-tabs__panel-image--excavator {
  right: -81px;
  bottom: -80px;
}
