<footer class="page-footer">
  <div class="page-footer__container container">
    <div class="page-footer__content">
      <a class="page-footer__link page-footer__text" href="#">Скачать реквизиты</a>
      <a class="page-footer__link page-footer__text" href="#">Политика конфиденциальности</a>
      <span class="page-footer__copyright page-footer__text">Разработка сайта — Бондарь Роман</span>
    </div>
  </div>
</footer>
