<footer class="page-footer">
  <div class="page-footer__container container">
    <div class="page-footer__content">
      <a class="page-footer__link page-footer__link--requisites" href="#">
        <svg class="page-footer__link-icon" width="14" height="18" viewBox="0 0 14 18">
          <use xlink:href="img/sprite.svg#requisites-icon"></use>
        </svg>
        <span>Скачать реквизиты</span>
      </a>
      <a class="page-footer__link" href="#">Политика конфиденциальности</a>
      <span class="page-footer__copyright">Разработка сайта — Бондарь Роман</span>
    </div>
  </div>
</footer>
