<header class="page-header">
  <div class="page-header__top">
    <div class="page-header__container container">
      <div class="page-header__logos">
        <a class="logo page-header__logo page-header__logo--techstroiproject" href="index.html">
          <img src="@img/logo-techstroiproject.svg" alt="Логотип техстройпроекта" width="317" height="110">
        </a>
        <a class="logo page-header__logo page-header__logo--xcmg" href="index.html">
          <img src="@img/logo-xcmg.svg" alt="Логотип XCMG" width="251" height="62">
        </a>
      </div>
      <section class="page-header__contacts">
        <a class="page-header__mail" href="mailto:mail@tehstroiproekt.ru">mail@tehstroiproekt.ru</a>
        <div class="page-header__phones">
          <div class="page-header__messengers">
            <a class="page-header__messenger page-header__messenger--telegram" href="#">
              <span class="visually-hidden">Контакт телеги</span>
            </a>
            <a class="page-header__messenger page-header__messenger--whatsup" href="#">
              <span class="visually-hidden">Контакт вотсапа</span>
            </a>
            <a class="page-header__phone" href="tel:+74992131580">8 (499) 213-15-80</a>
          </div>
          <a class="page-header__back-call"href="#">Обратный звонок</a>
        </div>
      </section>
    </div>
  </div>
  <div class="page-header__bottom">
    <div class="page-header__nav-container container">
      <nav class="site-nav nav">
        <ul class="site-nav__list nav__list">
          {% for link in menu %}
            <li class="site-nav__item nav__item">
              <a class="site-nav__link {% if link.href == page %} site-nav__link--active {% endif %} {% if link.href == "catalog" %} site-nav__link--catalog {% endif %} nav__link" href="{{ link.href }}.html">{{ link.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </nav>
      <nav class="user-nav nav">
        <ul class="user-nav__list nav__list">
          <li class="user-nav__item nav__item">
            <a href="#" class="user-nav__link user-nav__link--comparison nav__link">
              <svg class="nav__link-icon" width="22" height="22">
                <use xlink:href="img/sprite.svg#comparison-icon"></use>
              </svg>
              <span>Сравнение</span>
            </a>
          </li>
          <li class="user-nav__item nav__item">
            <a href="#" class="user-nav__link user-nav__link--search nav__link">
              <svg class="nav__link-icon" width="19" height="20">
                <use xlink:href="img/sprite.svg#search-icon"></use>
              </svg>
              <span>Поиск</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
