<header class="page-header">
  <div class="page-header__top">
    <div class="page-header__container container">
      <div class="page-header__logos">
        <a class="logo page-header__logo page-header__logo--techstroiproject" href="index.html">
          <img src="@img/logo-techstroiproject.svg" alt="Логотип техстройпроекта">
        </a>
        <a class="logo page-header__logo page-header__logo--xcmg" href="index.html">
          <img src="@img/logo-xcmg.svg" alt="Логотип XCMG">
        </a>
      </div>
      <section class="page-header__contacts">
        <div class="page-header__phones">
          <div class="page-header__messengers">
            <a class="page-header__messenger messenger messenger--telegram" href="#!">
              <span class="visually-hidden">Контакт телеграма</span>
            </a>
            <a class="page-header__messenger messenger messenger--whatsup" href="#!">
              <span class="visually-hidden">Контакт вотсапа</span>
            </a>
          </div>
          <a class="page-header__phone" href="tel:+74992131580">8 (499) 213-15-80</a>
        </div>
        <a class="page-header__mail" href="mailto:mail@tehstroiproekt.ru">mail@tehstroiproekt.ru</a>
      </section>
    </div>
  </div>
  <button class="burger burger--no-js">
    <span class="visually-hidden">Открыть меню.</span>
  </button>
  <div class="page-header__bottom page-header__bottom--no-js">
    <div class="page-header__nav-container container">
      <nav class="site-nav nav">
        <ul class="site-nav__list nav__list">
          {% for link in menu %}
            <li class="site-nav__item nav__item {% if link.hasDropdown %} nav__item--dropdown {% endif %}">
              <a class="site-nav__link {% if link.href == page %} site-nav__link--active {% endif %} {% if link.href == "catalog" %} site-nav__link--catalog {% endif %} nav__link" {% if link.href != "catalog" %}href="{{ link.href }}.html"{% endif %} >{{ link.title }}</a>
              {% if link.href == "catalog"%}
                <div class="site-nav__dropdown dropdown">
                  <ul class="dropdown__list">
                    <li class="dropdown__item">
                      <a class="dropdown__link" href="./catalog.html">Экскаваторы</a>
                      <div class="dropdown__tab">
                        <div class="dropdown__tab-header">
                          <picture>
                            <source type="image/webp" srcset="./img/dropdown-tab-excavator.webp 1x">
                            <img class="dropdown__tab-title-image" src="./img/dropdown-tab-excavator.png" alt="">
                          </picture>
                          <a class="dropdown__tab-title" href="./catalog.html">Экскаваторы</a>
                        </div>
                        <div class="dropdown__tab-main">
                          <div class="dropdown__tab-column">
                            <span class="dropdown__tab-column-title">Типы техники</span>
                            <ul class="dropdown__tab-list">
                              <li class="dopdown__tab-list-item">
                                <a class="dropdown__tab-list-link" href="./subcatalog.html">Гусеничные</a>
                              </li>
                              <li class="dopdown__tab-list-item">
                                <a class="dropdown__tab-list-link" href="#!">Колесные</a>
                              </li>
                              <li class="dopdown__tab-list-item">
                                <a class="dropdown__tab-list-link" href="#!">Экскаваторы-погрузчики</a>
                              </li>
                            </ul>
                          </div>
                          <div class="dropdown__tab-column">
                            <span class="dropdown__tab-column-title">Популярные модели</span>
                            <ul class="dropdown__tab-list">
                              <li class="dopdown__tab-list-item">
                                <a class="dropdown__tab-list-link" href="./product-page.html">XE700C</a>
                              </li>
                              <li class="dopdown__tab-list-item">
                                <a class="dropdown__tab-list-link" href="./product-page.html">XE700C</a>
                              </li>
                              <li class="dopdown__tab-list-item">
                                <a class="dropdown__tab-list-link" href="./product-page.html">XE700C</a>
                              </li>
                              <li class="dopdown__tab-list-item">
                                <a class="dropdown__tab-list-link" href="./product-page.html">XE700C</a>
                              </li>
                              <li class="dopdown__tab-list-item">
                                <a class="dropdown__tab-list-link" href="./product-page.html">XE700C</a>
                              </li>
                              <li class="dopdown__tab-list-item">
                                <a class="dropdown__tab-list-link" href="./product-page.html">XE700C</a>
                              </li>
                              <li class="dopdown__tab-list-item">
                                <a class="dropdown__tab-list-link" href="./product-page.html">XE700C</a>
                              </li>
                              <li class="dopdown__tab-list-item">
                                <a class="dropdown__tab-list-link" href="./product-page.html">XE700C</a>
                              </li>
                            </ul>
                          </div>
                          <div class="dropdown__tab-column">
                            <span class="dropdown__tab-column-title">Спецпредложение</span>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="dropdown__item">
                      <a class="dropdown__link" href="#!">Самосвалы</a>
                    </li>
                    <li class="dropdown__item">
                      <a class="dropdown__link" href="#!">Башенные краны</a>
                    </li>
                    <li class="dropdown__item">
                      <a class="dropdown__link" href="./subcatalog.html">Гусеничные краны</a>
                    </li>
                    <li class="dropdown__item">
                      <a class="dropdown__link" href="#!">Дорожная техника</a>
                    </li>
                    <li class="dropdown__item">
                      <a class="dropdown__link" href="#!">Короткобазные автокраны</a>
                    </li>
                    <li class="dropdown__item">
                      <a class="dropdown__link" href="#!">Краны на спецшасси</a>
                    </li>
                    <li class="dropdown__item">
                      <a class="dropdown__link" href="#!">Погрузчики</a>
                    </li>
                    <li class="dropdown__item">
                      <a class="dropdown__link" href="#!">Буровая техника</a>
                    </li>
                    <li class="dropdown__item">
                      <a class="dropdown__link" href="#!">Карьерные самосвалы</a>
                    </li>
                    <li class="dropdown__item">
                      <a class="dropdown__link" href="#!">Самоходные подъёмники</a>
                    </li>
                  </ul>
                </div>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </nav>
      <nav class="user-nav nav">
        <form class="user-nav__search search" action="https://echo.htmlacademy.ru/courses" method="post">
          <label class="search__label" for="search">
            <span class="visually-hidden">Поиск.</span>
          </label>
          <input class="search__input" type="search" name="search" id="search" placeholder="Поиск по сайту">
          <button class="search__button" type="submit">
            <span class="visually-hidden">Найти</span>
            <svg class="search__icon" width="19" height="20" viewbox="0 0 19 20">
              <use xlink:href="img/sprite.svg#search-icon"></use>
            </svg>
          </button>
        </form>
      </nav>
      <div class="menu menu--no-js">
        <div class="menu__main">
          <ul class="menu__list">
            <li class="menu__item">
              <a class="menu__link" href="#!">Экскаваторы</a>
              <div class="menu__sub">
                <button class="menu__back-button" type="button">Назад</button>
                <ul class="menu__list menu__list--lvl2">
                  <li class="menu__item">
                    <a class="menu__link menu__link" href="./subcatalog.html">Гусеничные</a>
                    <div class="menu__sub">
                      <button class="menu__back-button" type="button">Назад</button>
                      <ul class="menu__list menu__list--lvl2">
                        <li class="menu__item">
                          <a class="menu__link menu__link--end" href="#!">Тест1</a>
                        </li>
                        <li class="menu__item">
                          <a class="menu__link menu__link--end" href="#!">Тест2</a>
                        </li>
                        <li class="menu__item">
                          <a class="menu__link menu__link--end" href="#!">Тест3</a>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li class="menu__item">
                    <a class="menu__link menu__link--end" href="#!">Колесные</a>
                  </li>
                  <li class="menu__item">
                    <a class="menu__link menu__link--end" href="#!">Экскаваторы-погрузчики</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#!">Самосвалы</a>
              <div class="menu__sub">
                <button class="menu__back-button" type="button">Назад</button>
                <ul class="menu__list menu__list--lvl2">
                  <li class="menu__item">
                    <a class="menu__link menu__link--end" href="./subcatalog.html">Гусеничные</a>
                  </li>
                  <li class="menu__item">
                    <a class="menu__link menu__link--end" href="#!">Колесные</a>
                  </li>
                  <li class="menu__item">
                    <a class="menu__link menu__link--end" href="#!">Экскаваторы-погрузчики</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#!">Башенные краны</a>
              <div class="menu__sub">
                <button class="menu__back-button" type="button">Назад</button>
                <ul class="menu__list menu__list--lvl2">
                  <li class="menu__item">
                    <a class="menu__link menu__link--end" href="./subcatalog.html">Гусеничные</a>
                  </li>
                  <li class="menu__item">
                    <a class="menu__link menu__link--end" href="#!">Колесные</a>
                  </li>
                  <li class="menu__item">
                    <a class="menu__link menu__link--end" href="#!">Экскаваторы-погрузчики</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="./subcatalog.html">Гусеничные краны</a>
              <div class="menu__sub">
                <button class="menu__back-button" type="button">Назад</button>
                <ul class="menu__list menu__list--lvl2">
                  <li class="menu__item">
                    <a class="menu__link menu__link--end" href="./subcatalog.html">Гусеничные</a>
                  </li>
                  <li class="menu__item">
                    <a class="menu__link menu__link--end" href="#!">Колесные</a>
                  </li>
                  <li class="menu__item">
                    <a class="menu__link menu__link--end" href="#!">Экскаваторы-погрузчики</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#!">Дорожная техника</a>
              <div class="menu__sub">
                <button class="menu__back-button" type="button">Назад</button>
                <ul class="menu__list menu__list--lvl2">
                  <li class="menu__item">
                    <a class="menu__link menu__link--end" href="./subcatalog.html">Гусеничные</a>
                  </li>
                  <li class="menu__item">
                    <a class="menu__link menu__link--end" href="#!">Колесные</a>
                  </li>
                  <li class="menu__item">
                    <a class="menu__link menu__link--end" href="#!">Экскаваторы-погрузчики</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#!">Короткобазные автокраны</a>
              <div class="menu__sub">
                <button class="menu__back-button" type="button">Назад</button>
                <ul class="menu__list menu__list--lvl2">
                  <li class="menu__item">
                    <a class="menu__link menu__link--end" href="./subcatalog.html">Гусеничные</a>
                  </li>
                  <li class="menu__item">
                    <a class="menu__link menu__link--end" href="#!">Колесные</a>
                  </li>
                  <li class="menu__item">
                    <a class="menu__link menu__link--end" href="#!">Экскаваторы-погрузчики</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#!">Краны на спецшасси</a>
              <div class="menu__sub">
                <button class="menu__back-button" type="button">Назад</button>
                <ul class="menu__list menu__list--lvl2">
                  <li class="menu__item">
                    <a class="menu__link menu__link--end" href="./subcatalog.html">Гусеничные</a>
                  </li>
                  <li class="menu__item">
                    <a class="menu__link menu__link--end" href="#!">Колесные</a>
                  </li>
                  <li class="menu__item">
                    <a class="menu__link menu__link--end" href="#!">Экскаваторы-погрузчики</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#!">Погрузчики</a>
              <div class="menu__sub">
                <button class="menu__back-button" type="button">Назад</button>
                <ul class="menu__list menu__list--lvl2">
                  <li class="menu__item">
                    <a class="menu__link menu__link--end" href="./subcatalog.html">Гусеничные</a>
                  </li>
                  <li class="menu__item">
                    <a class="menu__link menu__link--end" href="#!">Колесные</a>
                  </li>
                  <li class="menu__item">
                    <a class="menu__link menu__link--end" href="#!">Экскаваторы-погрузчики</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#!">Буровая техника</a>
              <div class="menu__sub">
                <button class="menu__back-button" type="button">Назад</button>
                <ul class="menu__list menu__list--lvl2">
                  <li class="menu__item">
                    <a class="menu__link menu__link--end" href="./subcatalog.html">Гусеничные</a>
                  </li>
                  <li class="menu__item">
                    <a class="menu__link menu__link--end" href="#!">Колесные</a>
                  </li>
                  <li class="menu__item">
                    <a class="menu__link menu__link--end" href="#!">Экскаваторы-погрузчики</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#!">Карьерные самосвалы</a>
              <div class="menu__sub">
                <button class="menu__back-button" type="button">Назад</button>
                <ul class="menu__list menu__list--lvl2">
                  <li class="menu__item">
                    <a class="menu__link menu__link--end" href="./subcatalog.html">Гусеничные</a>
                  </li>
                  <li class="menu__item">
                    <a class="menu__link menu__link--end" href="#!">Колесные</a>
                  </li>
                  <li class="menu__item">
                    <a class="menu__link menu__link--end" href="#!">Экскаваторы-погрузчики</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#!">Самоходные подъёмники</a>
              <div class="menu__sub">
                <button class="menu__back-button" type="button">Назад</button>
                <ul class="menu__list menu__list--lvl2">
                  <li class="menu__item">
                    <a class="menu__link menu__link--end" href="./subcatalog.html">Гусеничные</a>
                  </li>
                  <li class="menu__item">
                    <a class="menu__link menu__link--end" href="#!">Колесные</a>
                  </li>
                  <li class="menu__item">
                    <a class="menu__link menu__link--end" href="#!">Экскаваторы-погрузчики</a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
        <div class="menu__second">
          <ul class="menu__second-list">
            <li class="menu__second-item">
              <a class="menu__second-link" href="./equipment.html">Оборудование</a>
            </li>
            <li class="menu__second-item">
              <a class="menu__second-link" href="./leasing.html">Лизинг</a>
            </li>
            <li class="menu__second-item">
              <a class="menu__second-link" href="./spareparts.html">Запчасти</a>
            </li>
            <li class="menu__second-item">
              <a class="menu__second-link" href="./spec-offers.html">Спецпредложения</a>
            </li>
            <li class="menu__second-item">
              <a class="menu__second-link" href="./about.html">О нас</a>
            </li>
            <li class="menu__second-item">
              <a class="menu__second-link" href="./contacts.html">Контакты</a>
            </li>
          </ul>
        </div>
        <div class="menu__contacts">
          <a class="menu__phone" href="tel:+74992131580">8 (499) 213-15-80</a>
          <a class="menu__mail" href="mailto:mail@tehstroiproekt.ru">mail@tehstroiproekt.ru</a>
          <a class="menu__back-call-button button" href="#!">Обратный звонок</a>
        </div>
      </div>
    </div>
  </div>
</header>
