<section class="about-section section">
  <div class="about-section__container container">
    <div class="about-section__content section__content">
      <div class="about-section__main section__main">
        <h2 class="visually-hidden">О компании.</h2>
        <p class="about-section__title section__title">«Техстройпроект»</p>
        <p class="about-section__sub-title section__sub-title">— официальный дилер<br> бренда XCMG</p>
        <figure class="about-section__figure">
          <picture>
            <source type="image/webp" media="(min-width: 768px)" srcset="@img/index-header-bg-no-shadow.webp">
            <source type="image/webp" srcset="@img/catalog-header-mobile.webp 1x, @img/catalog-header-mobile@2x.webp 2x">
            <source media="(min-width: 768px)" srcset="@img/index-header-bg-no-shadow.jpg">
            <img class="catalog-header__image" src="@img/catalog-header-mobile.jpg" srcset="@img/catalog-header-mobile@2x.jpg 2x" alt="">
          </picture>
        </figure>
        <p class="about-section__text section__text">Поставляем технику, оборудование  и запчасти к ней по всей России</p>
        <a class="button button--yellow about-section__button section__button" href="./about.html">Подробнее о компании</a>
      </div>
      <div class="about-section__features features">
        <dl class="about-section__features-list features__list">
          <div class="feature__item">
            <div class="feature__icon-container">
              <img class="feature__icon feature__icon--contract" src="@img/icons/contract-icon.svg" alt="" width="46px" height="52px">
            </div>
            <dt class="feature__name">заключенных контрактов по всей России</dt>
            <dd class="feature__value">2000</dd>
          </div>
          <div class="feature__item">
            <div class="feature__icon-container">
              <img class="feature__icon" src="@img/icons/excavator-icon.svg" alt="" width="55px" height="41px">
            </div>
            <dt class="feature__name">единиц техники поставили с 2015 года</dt>
            <dd class="feature__value">14 000</dd>
          </div>
        </dl>
      </div>
    </div>
  </div>
</section>
