{% set mainSwiperCounter = 1 %}
{% set thumbsSwiperCounter = 1 %}
<section class="about-gallery section">
  <div class="about-gallery__container container">
    <div class="about-gallery__content">
      <h2 class="visually-hidden">Фото со складов</h2>
      <span class="about-gallery__title section__title">Посморите реальные<br> фотографии с наших складов</span>
      <div class="about-gallery__swipers">
        <div class="about-gallery__main-swiper swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <picture>
                <source type="image/webp" srcset="@img/about-gallery-1.webp 1x">
                <img src="@img/about-gallery-1.jpg" alt="Фото со склада {{ mainSwiperCounter }} {% set mainSwiperCounter = mainSwiperCounter + 1 %}">
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source type="image/webp" srcset="@img/about-gallery-1.webp 1x">
                <img src="@img/about-gallery-1.jpg" alt="Фото со склада {{ mainSwiperCounter }} {% set mainSwiperCounter = mainSwiperCounter + 1 %}">
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source type="image/webp" srcset="@img/about-gallery-1.webp 1x">
                <img src="@img/about-gallery-1.jpg" alt="Фото со склада {{ mainSwiperCounter }} {% set mainSwiperCounter = mainSwiperCounter + 1 %}">
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source type="image/webp" srcset="@img/about-gallery-1.webp 1x">
                <img src="@img/about-gallery-1.jpg" alt="Фото со склада {{ mainSwiperCounter }} {% set mainSwiperCounter = mainSwiperCounter + 1 %}">
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source type="image/webp" srcset="@img/about-gallery-1.webp 1x">
                <img src="@img/about-gallery-1.jpg" alt="Фото со склада {{ mainSwiperCounter }} {% set mainSwiperCounter = mainSwiperCounter + 1 %}">
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source type="image/webp" srcset="@img/about-gallery-1.webp 1x">
                <img src="@img/about-gallery-1.jpg" alt="Фото со склада {{ mainSwiperCounter }} {% set mainSwiperCounter = mainSwiperCounter + 1 %}">
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source type="image/webp" srcset="@img/about-gallery-1.webp 1x">
                <img src="@img/about-gallery-1.jpg" alt="Фото со склада {{ mainSwiperCounter }} {% set mainSwiperCounter = mainSwiperCounter + 1 %}">
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source type="image/webp" srcset="@img/about-gallery-1.webp 1x">
                <img src="@img/about-gallery-1.jpg" alt="Фото со склада {{ mainSwiperCounter }} {% set mainSwiperCounter = mainSwiperCounter + 1 %}">
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source type="image/webp" srcset="@img/about-gallery-1.webp 1x">
                <img src="@img/about-gallery-1.jpg" alt="Фото со склада {{ mainSwiperCounter }} {% set mainSwiperCounter = mainSwiperCounter + 1 %}">
              </picture>
            </div>
          </div>
          <div class="about-gallery__swiper-button about-gallery__swiper-button--prev"></div>
          <div class="about-gallery__swiper-button about-gallery__swiper-button--next"></div>
        </div>
        <div class="about-gallery__thumbnails swiper">
          <div class="about-gallery__swiper-button about-gallery__swiper-button--prev"></div>
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <picture>
                <source type="image/webp" srcset="@img/about-gallery-thumbnail-1.webp 1x">
                <img src="@img/about-gallery-thumbnail-1.jpg" alt="Миниатюра {{ thumbsSwiperCounter }} {% set thumbsSwiperCounter = thumbsSwiperCounter + 1 %}">
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source type="image/webp" srcset="@img/about-gallery-thumbnail-2.webp 1x">
                <img src="@img/about-gallery-thumbnail-1.jpg" alt="Миниатюра {{ thumbsSwiperCounter }} {% set thumbsSwiperCounter = thumbsSwiperCounter + 1 %}">
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source type="image/webp" srcset="@img/about-gallery-thumbnail-3.webp 1x">
                <img src="@img/about-gallery-thumbnail-1.jpg" alt="Миниатюра {{ thumbsSwiperCounter }} {% set thumbsSwiperCounter = thumbsSwiperCounter + 1 %}">
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source type="image/webp" srcset="@img/about-gallery-thumbnail-4.webp 1x">
                <img src="@img/about-gallery-thumbnail-1.jpg" alt="Миниатюра {{ thumbsSwiperCounter }} {% set thumbsSwiperCounter = thumbsSwiperCounter + 1 %}">
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source type="image/webp" srcset="@img/about-gallery-thumbnail-5.webp 1x">
                <img src="@img/about-gallery-thumbnail-1.jpg" alt="Миниатюра {{ thumbsSwiperCounter }} {% set thumbsSwiperCounter = thumbsSwiperCounter + 1 %}">
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source type="image/webp" srcset="@img/about-gallery-thumbnail-5.webp 1x">
                <img src="@img/about-gallery-thumbnail-1.jpg" alt="Миниатюра {{ thumbsSwiperCounter }} {% set thumbsSwiperCounter = thumbsSwiperCounter + 1 %}">
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source type="image/webp" srcset="@img/about-gallery-thumbnail-5.webp 1x">
                <img src="@img/about-gallery-thumbnail-1.jpg" alt="Миниатюра {{ thumbsSwiperCounter }} {% set thumbsSwiperCounter = thumbsSwiperCounter + 1 %}">
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source type="image/webp" srcset="@img/about-gallery-thumbnail-5.webp 1x">
                <img src="@img/about-gallery-thumbnail-1.jpg" alt="Миниатюра {{ thumbsSwiperCounter }} {% set thumbsSwiperCounter = thumbsSwiperCounter + 1 %}">
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source type="image/webp" srcset="@img/about-gallery-thumbnail-5.webp 1x">
                <img src="@img/about-gallery-thumbnail-1.jpg" alt="Миниатюра {{ thumbsSwiperCounter }} {% set thumbsSwiperCounter = thumbsSwiperCounter + 1 %}">
              </picture>
            </div>
          </div>
          <div class="about-gallery__swiper-button about-gallery__swiper-button--next"></div>
        </div>
      </div>
    </div>
  </div>
</section>
