<article class="article article-spareparts">
  <div class="article__container">
    <div class="article__content">
      <div class="article__main">
        <span class="article__pre-header">>1000</span>
        <h2 class="article__header">Более 5000 наименований комплектующих для всего модельного ряда техники XCMG</h2>
        <p class="article__add-info">«Техстропроект» - прямой поставщиком оригинальных запчастей на спецтехнику XCMG</p>
        <ul class="article__list">
          <li class="article__list-item article__list-item--urgent">
            <p class="article__list-item-content">
              <b>При необходимости организуем срочный<br> заказ</b> нужной автозапчасти из Китая в Россию
            </p>
          </li>
          <li class="article__list-item article__list-item--warehouse">
            <p class="article__list-item-content">
              90% запчастей <b>всегда в наличии на складе</b>
            </p>
          </li>
          <li class="article__list-item article__list-item--help">
            <p class="article__list-item-content">
              <b>Наши специалисты помогут быстро</b><br> и точно подобрать запасные части
            </p>
          </li>
        </ul>
        <a href="#" class="article__button button">Подробнее о запчастях</a>
      </div>
      <div class="article__image-container">
        <picture>
          <source type="image/webp" srcset="./img/spareparts-desktop.webp 1x">
          <img class="article__image" src="./img/spareparts-desktop.jpg" alt="">
        </picture>
      </div>
    </div>
  </div>
</article>
