<div class="product-page__breadcumbs breadcumbs--blue">
  <ul class="breadcumbs__list">
    <li class="breadcumbs__item breadcumbs__item--home">
      <a class="breadcumbs__link breadcumbs__link--home" href="index.html">
        <svg class="breadcumbs__link-icon" width="19" height="17" viewBox="0 0 19 17">
          <use xlink:href="img/sprite.svg#home-icon"></use>
        </svg>
        <span>На Главную</span>
      </a>
    </li>
    <li class="breadcumbs__item">
      <a class="breadcumbs__link" href="./catalog.html">Экскаваторы XCMG</a>
    </li>
    <li class="breadcumbs__item">
      <a class="breadcumbs__link" href="./subcatalog.html">Экскаваторы XCMG</a>
    </li>
    <li class="breadcumbs__item">
      <span class="breadcumbs__link breadcumbs__link--current">Универсальный гусеничный экскаватор XE700C</span>
    </li>
  </ul>
</div>
