<section class="catalog-types">
  <div class="catalog-types__container container">
    <h2 class="catalog-types__title section-header">Виды техники</h2>
    <ul class="catalog-types__list">
      <li class="catalog-types__item">
        <a class="catalog-types__link" href="subcatalog.html">
          <picture>
            <source type="image/webp" media="(min-width: 1349px)" srcset="@img/catalog-types-desktop.webp 1x, @img/catalog-types-desktop@2x.webp 2x">
            <source type="image/webp" media="(min-width: 768px)" srcset="@img/catalog-types-tablet.webp 1x, @img/catalog-types-tablet@2x.webp 2x">
            <source type="image/webp" srcset="@img/catalog-types-mobile.webp 1x, @img/catalog-types-mobile@2x.webp 2x">
            <source media="(min-width: 1349px)" srcset="@img/catalog-types-desktop.jpg 1x, @img/catalog-types-desktop@2x.jpg 2x">
            <source media="(min-width: 768px)" srcset="@img/catalog-types-tablet.jpg 1x, @img/catalog-types-tablet@2x.jpg 2x">
            <img class="catalog-types__link-image" src="@img/catalog-types-mobile.jpg" srcset="@img/catalog-types-mobile@2x.jpg 2x" alt="">
          </picture>
          <span class="catalog-types__link-text">Гусеничные</span>
        </a>
      </li>
      <li class="catalog-types__item">
        <a class="catalog-types__link" href="#!">
          <picture>
            <source type="image/webp" media="(min-width: 1349px)" srcset="@img/catalog-types-desktop.webp 1x, @img/catalog-types-desktop@2x.webp 2x">
            <source type="image/webp" media="(min-width: 768px)" srcset="@img/catalog-types-tablet.webp 1x, @img/catalog-types-tablet@2x.webp 2x">
            <source type="image/webp" srcset="@img/catalog-types-mobile.webp 1x, @img/catalog-types-mobile@2x.webp 2x">
            <source media="(min-width: 1349px)" srcset="@img/catalog-types-desktop.jpg 1x, @img/catalog-types-desktop@2x.jpg 2x">
            <source media="(min-width: 768px)" srcset="@img/catalog-types-tablet.jpg 1x, @img/catalog-types-tablet@2x.jpg 2x">
            <img class="catalog-types__link-image" src="@img/catalog-types-mobile.jpg" srcset="@img/catalog-types-mobile@2x.jpg 2x" alt="">
          </picture>
          <span class="catalog-types__link-text">Колесные</span>
        </a>
      </li>
      <li class="catalog-types__item">
        <a class="catalog-types__link" href="#!">
          <picture>
            <source type="image/webp" media="(min-width: 1349px)" srcset="@img/catalog-types-desktop.webp 1x, @img/catalog-types-desktop@2x.webp 2x">
            <source type="image/webp" media="(min-width: 768px)" srcset="@img/catalog-types-tablet.webp 1x, @img/catalog-types-tablet@2x.webp 2x">
            <source type="image/webp" srcset="@img/catalog-types-mobile.webp 1x, @img/catalog-types-mobile@2x.webp 2x">
            <source media="(min-width: 1349px)" srcset="@img/catalog-types-desktop.jpg 1x, @img/catalog-types-desktop@2x.jpg 2x">
            <source media="(min-width: 768px)" srcset="@img/catalog-types-tablet.jpg 1x, @img/catalog-types-tablet@2x.jpg 2x">
            <img class="catalog-types__link-image" src="@img/catalog-types-mobile.jpg" srcset="@img/catalog-types-mobile@2x.jpg 2x" alt="">
          </picture>
          <span class="catalog-types__link-text">Экскаваторы-погрузчики</span>
        </a>
      </li>
    </ul>
  </div>
</section>
