<section class="catalog-header">
  <div class="catalog-header__container container">
    <div class="catalog-header__breadcumbs breadcumbs">
      <ul class="breadcumbs__list">
        <li class="breadcumbs__item breadcumbs__item--home">
          <a class="breadcumbs__link breadcumbs__link--home" href="index.html">
            <svg class="breadcumbs__link-icon" width="19" height="17" viewBox="0 0 19 17">
              <use xlink:href="img/sprite.svg#home-icon"></use>
            </svg>
            <span>На Главную</span>
          </a>
        </li>
        <li class="breadcumbs__item">
          <span class="breadcumbs__link breadcumbs__link--current">Экскаваторы XCMG</span>
        </li>
      </ul>
    </div>
    <div class="catalog-header__main">
      <h1 class="catalog-header__title title">Экскаваторы XCMG</h1>
      <span class="catalog-header__subtitle">— покупка и лизинг</span>
      <figure class="catalog-header__figure">
        <picture>
          <source type="image/webp" media="(min-width: 1349px)" srcset="@img/catalog-header-desktop.webp 1x, @img/catalog-header-desktop@2x.webp 2x">
          <source type="image/webp" media="(min-width: 768px)" srcset="@img/catalog-header-tablet.webp 1x, @img/catalog-header-tablet@2x.webp 2x">
          <source type="image/webp" srcset="@img/catalog-header-mobile.webp 1x, @img/catalog-header-mobile@2x.webp 2x">
          <source media="(min-width: 1349px)" srcset="@img/catalog-header-desktop.jpg 1x, @img/catalog-header-desktop@2x.jpg 2x">
          <source media="(min-width: 768px)" srcset="@img/catalog-header-tablet.jpg 1x, @img/catalog-header-tablet@2x.jpg 2x">
          <img class="catalog-header__image" src="@img/catalog-header-mobile.jpg" srcset="@img/catalog-header-mobile@2x.jpg 2x" alt="">
        </picture>
      </figure>
      <ul class="catalog-section__list daw-list daw-list--yellow">
        <li class="catalog-section__item daw-list__item">Доставим до вашего объекта собственным тралом в согласованные сроки</li>
        <li class="catalog-section__item daw-list__item">Гарантия от завода-производителя</li>
        <li class="catalog-section__item daw-list__item">Несанкционная техника. Поставкам техники, оборудования и запчастей ничего не угрожает</li>
        <li class="catalog-section__item daw-list__item">Всегда в наличии в вашем регионе 90% модельного ряда, запчастей и оборудования </li>
      </ul>
    </div>
  </div>
</section>
