<div class="product-card__gallery gallery">
    <!-- Slider main container -->
  <div class="swiper swiper--main">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <picture>
          <source type="image/webp" srcset="@img/product-gallery-big.webp 1x">
          <img src="@img/product-gallery-big.jpg" alt="Большая картинка 1">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source type="image/webp" srcset="@img/product-gallery-big.webp 1x">
          <img src="@img/product-gallery-big.jpg" alt="Большая картинка 2">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source type="image/webp" srcset="@img/product-gallery-big.webp 1x">
          <img src="@img/product-gallery-big.jpg" alt="Большая картинка 3">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source type="image/webp" srcset="@img/product-gallery-big.webp 1x">
          <img src="@img/product-gallery-big.jpg" alt="Большая картинка 4">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source type="image/webp" srcset="@img/product-gallery-big.webp 1x">
          <img src="@img/product-gallery-big.jpg" alt="Большая картинка 5">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source type="image/webp" srcset="@img/product-gallery-big.webp 1x">
          <img src="@img/product-gallery-big.jpg" alt="Большая картинка 6">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source type="image/webp" srcset="@img/product-gallery-big.webp 1x">
          <img src="@img/product-gallery-big.jpg" alt="Большая картинка 7">
        </picture>
      </div>
    </div>

    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

  </div>
  <div thumbsSlider="" class="swiper swiper--thumbs">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <picture>
          <source type="image/webp" srcset="@img/product-thumb.webp 1x">
          <img src="@img/product-thumb.jpg" alt="Миниатюра #1">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source type="image/webp" srcset="@img/product-thumb.webp 1x">
          <img src="@img/product-thumb.jpg" alt="Миниатюра #2">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source type="image/webp" srcset="@img/product-thumb.webp 1x">
          <img src="@img/product-thumb.jpg" alt="Миниатюра #3">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source type="image/webp" srcset="@img/product-thumb.webp 1x">
          <img src="@img/product-thumb.jpg" alt="Миниатюра #4">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source type="image/webp" srcset="@img/product-thumb.webp 1x">
          <img src="@img/product-thumb.jpg" alt="Миниатюра #5">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source type="image/webp" srcset="@img/product-thumb.webp 1x">
          <img src="@img/product-thumb.jpg" alt="Миниатюра #6">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source type="image/webp" srcset="@img/product-thumb.webp 1x">
          <img src="@img/product-thumb.jpg" alt="Миниатюра #7">
        </picture>
      </div>
    </div>

    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</div>
