<section class="index-header">
  <div class="index-header__container container">
    <div class="index-header__content">
      <p class="index-header__title title">
        Поставляем спецтехнику XCMG, оборудование и запчасти<br> к ней по всей России
      </p>
      <div class="index-header__text-container">
        <p class="index-header__text">
          Доставка в согласованные сроки собственным тралом, гарантия от производителя, всегда в наличии в вашем регионе
        </p>
      </div>
    </div>
    <div class="index-header__features features">
      <dl class="features__list">
        <div class="feature__item">
          <div class="feature__icon-container">
            <img class="feature__icon--contract" src="@img/icons/contract-icon.svg" alt="" width="46px" height="52px">
          </div>
          <dt class="feature__name">заключенных контрактов по всей России</dt>
          <dd class="feature__value">2000</dd>
        </div>
        <div class="feature__item">
          <div class="feature__icon-container">
            <img class="feature__icon-" src="@img/icons/excavator-icon.svg" alt="" width="55px" height="41px">
          </div>
          <dt class="feature__name">единиц техники поставили с 2015 года</dt>
          <dd class="feature__value">14 000</dd>
        </div>
      </dl>
    </div>
  </div>
  <video class="index-header__video" autoplay loop muted poster="@img/index-header-bg-no-shadow.jpg">
    <source src="./files/bg-video.mp4" type="video/mp4">
  </video>
</section>
