<section class="index-header">
  <div class="index-header__container container">
    <div class="index-header__content">
      <p class="index-header__title title">
        Поставляем спецтехнику XCMG, оборудование и запчасти к ней по всей России
      </p>
      <p class="index-header__text">
        Доставка в согласованные сроки собственным тралом, гарантия от производителя, всегда в наличии в вашем регионе
      </p>
    </div>
    <div class="index-header__features features">
      <dl class="features__list">
        <div class="feature__item">
          <div class="feature__icon"></div>
          <dt class="feature__name">заключенных контрактов по всей России</dt>
          <dd class="feature__value">2000</dd>
        </div>
        <div class="feature__item">
          <div class="feature__icon"></div>
          <dt class="feature__name">единиц техники поставили с 2015 года</dt>
          <dd class="feature__value">14 000</dd>
        </div>
      </dl>
    </div>
  </div>
</section>
