<section class="leasing-header catalog-header catalog-header">
  <div class="catalog-header__container container">
    <div class="catalog-header__breadcumbs breadcumbs">
      <ul class="breadcumbs__list">
        <li class="breadcumbs__item breadcumbs__item--home">
          <a class="breadcumbs__link breadcumbs__link--home" href="index.html">
            <svg class="breadcumbs__link-icon" width="19" height="17" viewBox="0 0 19 17">
              <use xlink:href="img/sprite.svg#home-icon"></use>
            </svg>
            <span>На Главную</span>
          </a>
        </li>
        <li class="breadcumbs__item">
          <span class="breadcumbs__link breadcumbs__link--current">Лизинг</span>
        </li>
      </ul>
    </div>
    <div class="catalog-header__main">
      <h1 class="leasing-header__title catalog-header__title title">Спецтехника XCMG<br> в лизинг от 300 тысяч до<br> 5 миллиардов рублей</h1>
      <figure class="leasing-header__figure catalog-header__figure">
        <picture>
          <source type="image/webp" media="(min-width: 1349px)" srcset="@img/catalog-header-desktop.webp 1x, @img/catalog-header-desktop@2x.webp 2x">
          <source type="image/webp" media="(min-width: 768px)" srcset="@img/catalog-header-tablet.webp 1x, @img/catalog-header-tablet@2x.webp 2x">
          <source type="image/webp" srcset="@img/catalog-header-mobile.webp 1x, @img/catalog-header-mobile@2x.webp 2x">
          <source media="(min-width: 1349px)" srcset="@img/catalog-header-desktop.jpg 1x, @img/catalog-header-desktop@2x.jpg 2x">
          <source media="(min-width: 768px)" srcset="@img/catalog-header-tablet.jpg 1x, @img/catalog-header-tablet@2x.jpg 2x">
          <img class="catalog-header__image" src="@img/catalog-header-mobile.jpg" srcset="@img/catalog-header-mobile@2x.jpg 2x" alt="">
        </picture>
      </figure>
      <div class="leasing-header__features features">
        <dl class="leasing-header__features-list features__list">
          <div class="leasing-header__feature-item feature__item">
            <div class="feature__icon-container">
              <img class="feature__icon feature__icon--lightning" src="@img/icons/lightning-icon.svg" alt="">
            </div>
            <dt class="feature__name">Предварительное одобрение</dt>
            <dd class="feature__value">30<span class="feature__mes-value">мин</span></dd>
          </div>
          <div class="leasing-header__feature-item feature__item">
            <div class="feature__icon-container">
              <img class="feature__icon" src="@img/icons/clock-icon.svg" alt="">
            </div>
            <dt class="feature__name">Макс. срок рассмотрения </dt>
            <dd class="feature__value">8<span class="feature__mes-value">часов</span></dd>
          </div>
          <div class="leasing-header__feature-item feature__item">
            <div class="feature__icon-container">
              <img class="feature__icon" src="@img/icons/wallet-icon.svg" alt="">
            </div>
            <dt class="feature__name">Авансовый<br> платёж</dt>
            <dd class="feature__value">10<span class="feature__mes-value feature__mes-value--percent">%</span></dd>
          </div>
          <div class="leasing-header__feature-item feature__item">
            <div class="feature__icon-container">
              <img class="feature__icon feature__icon--calendar" src="@img/icons/calendar-icon.svg" alt="">
            </div>
            <dt class="feature__name">Максимальный срок лизинга</dt>
            <dd class="feature__value">60<span class="feature__mes-value">мес</span></dd>
          </div>
        </dl>
      </div>
    </div>
  </div>
</section>
