<section class="leasing-terms section">
  <div class="leasing-terms__container container">
    <div class="leasing-terms__content section__content">
      <h2 class="leasing-terms__title section__title">Условия <span class="visually-hidden">лизинга</span></h2>
      <ul class="leasing-terms__list section__list">
        <li class="leasing-terms__item section__item">
          <span class="section__item-icon section__item-icon--docs"></span>
          <p class="leasing-terms__item-text section__item-text">
            Рассмотрение по минимальному пакету документов
          </p>
        </li>
        <li class="leasing-terms__item section__item">
          <span class="section__item-icon section__item-icon--pasport"></span>
          <p class="leasing-terms__item-text section__item-text">
            Рассмотрение ИП только по паспорту
          </p>
        </li>
        <li class="leasing-terms__item section__item">
          <span class="section__item-icon section__item-icon--graph"></span>
          <p class="leasing-terms__item-text section__item-text">
            График аннуитентный, убывающий, сезонный
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
