<section class="leasing-section">
  <div class="leasing-section__container container">
    <div class="leasing-section__content">
      <h2 class="leasing-section__title title title--white">Спецтехника XCMG<br> в лизинг от 300 тысяч до 5 миллиардов</h2>
      <ul class="leasing-section__list daw-list daw-list--yellow">
        <li class="leasing-section__item daw-list__item">Рассмотрение по минимальному пакету документов</li>
        <li class="leasing-section__item daw-list__item">Рассмотрение ИП только по паспорту</li>
        <li class="leasing-section__item daw-list__item">График аннуитентный, убывающий, сезонный</li>
      </ul>
      <a class="leasing-section__button button" href="#">Обсудить условия</a>
    </div>
    <div class="leasing-section__features">
      <dl class="leasing-section__features-list features__list">
        <div class="leasing-section__feature-item feature__item">
          <div class="feature__icon-container">
            <img class="feature__icon--contract" src="@img/icons/contract-icon.svg" alt="" width="46px" height="52px">
          </div>
          <dt class="feature__name">Максимальный срок лизинга</dt>
          <dd class="feature__value">60<span class="feature__mes-value">мес</span></dd>
        </div>
        <div class="leasing-section__feature-item feature__item">
          <div class="feature__icon-container">
            <img class="feature__icon-" src="@img/icons/excavator-icon.svg" alt="" width="55px" height="41px">
          </div>
          <dt class="feature__name">Предварительное одобрение</dt>
          <dd class="feature__value">30<span class="feature__mes-value">мин</span></dd>
        </div>
        <div class="leasing-section__feature-item feature__item">
          <div class="feature__icon-container">
            <img class="feature__icon-" src="@img/icons/excavator-icon.svg" alt="" width="55px" height="41px">
          </div>
          <dt class="feature__name">Авансовый<br> платёж</dt>
          <dd class="feature__value">10<span class="feature__mes-value feature__mes-value--percent">%</span></dd>
        </div>
        <div class="leasing-section__feature-item feature__item">
          <div class="feature__icon-container">
            <img class="feature__icon-" src="@img/icons/excavator-icon.svg" alt="" width="55px" height="41px">
          </div>
          <dt class="feature__name">Макс. срок рассмотрения </dt>
          <dd class="feature__value">8<span class="feature__mes-value">часов</span></dd>
        </div>
      </dl>
    </div>
  </div>
</section>
