<section class="managers section">
  <div class="managers__container container">
    <div class="managers__content">
      <h2 class="managers__title section__title">Прямая связь с отделами</h2>
      <ul class="managers__list">
        <li class="managers__item manager">
          <figure class="manager__photo">
            <picture>
              <img class="manager__photo-image" src="@img/manager-photo-1.jpg" alt="Фото мекнеджера">
            </picture>
          </figure>
          <p class="manager__job-title">Руководитель отдела продаж:</p>
          <p class="manager__name">Мурашко Дмитрий Юрьевич</p>
          <a class="manager__phone" href="tel:+79037274069">+7 (903) 727-40-69</a>
        </li>
        <li class="managers__item manager">
          <figure class="manager__photo">
            <picture>
              <img class="manager__photo-image" src="@img/manager-photo-1.jpg" alt="Фото мекнеджера">
            </picture>
          </figure>
          <p class="manager__job-title">Руководитель отдела продаж в Екатеринбурге:</p>
          <p class="manager__name">Бабенков Павел Викторович</p>
          <a class="manager__phone" href="tel:+79037273779">+7 903 727-37-79</a>
        </li>
        <li class="managers__item manager">
          <figure class="manager__photo">
            <picture>
              <img class="manager__photo-image" src="@img/manager-photo-1.jpg" alt="Фото мекнеджера">
            </picture>
          </figure>
          <p class="manager__job-title">Менеджер отдела продаж:</p>
          <p class="manager__name">Погорелый Сергей Анатольевич</p>
          <a class="manager__phone" href="tel:+79261918173">+7 (926) 191-81-73</a>
        </li>
        <li class="managers__item manager">
          <figure class="manager__photo">
            <picture>
              <img class="manager__photo-image" src="@img/manager-photo-1.jpg" alt="Фото мекнеджера">
            </picture>
          </figure>
          <p class="manager__job-title">Начальник сервисной службы:</p>
          <p class="manager__name">Никитюк Семён Петрович</p>
          <a class="manager__phone" href="tel:+79037274204">+7 (903) 727-42-04</a>
        </li>
        <li class="managers__item manager">
          <figure class="manager__photo">
            <picture>
              <img class="manager__photo-image" src="@img/manager-photo-1.jpg" alt="Фото мекнеджера">
            </picture>
          </figure>
          <p class="manager__job-title">Специалист отдела запчастей:</p>
          <p class="manager__name">Алибаев Сергей Тимурович</p>
          <a class="manager__phone" href="tel:+79037274120">+7 (903) 727-41-20</a>
        </li>
      </ul>
    </div>
  </div>
</section>
