{% set tabs = [
  "Экскаваторы",
  "Краны",
  "Погрузчики",
  "Самосвалы",
  "Буровая техника",
  "Дорожная техника",
  "Карьерные самосвалы"
] %}
<section class="new-offers">
  <div class="new-offers__container container">
    <h2 class="new-offers__title title title--black">Свежие спецпредложения</h2>
    <select class="new-offers__select" id="new-offers" name="new-offers">
      <option value="{{ tabs[0] }}">{{ tabs[0] }}</option>
      <option value="{{ tabs[1] }}">{{ tabs[1] }}</option>
      <option value="{{ tabs[2] }}">{{ tabs[2] }}</option>
      <option value="{{ tabs[3] }}">{{ tabs[3] }}</option>
      <option value="{{ tabs[4] }}">{{ tabs[4] }}</option>
      <option value="{{ tabs[5] }}">{{ tabs[5] }}</option>
    </select>
    <div class="new-offers__tabs tabs">
      <ul class="new-offers__tabs-list tabs__list">
        <li class="tabs__item">
          <button class="tabs__button tabs__button--active" type="button">{{ tabs[0] }}</button>
        </li>
        <li class="tabs__item">
          <button class="tabs__button" type="button">{{ tabs[1] }}</button>
        </li>
        <li class="tabs__item">
          <button class="tabs__button" type="button">{{ tabs[2] }}</button>
        </li>
        <li class="tabs__item">
          <button class="tabs__button" type="button">{{ tabs[3] }}</button>
        </li>
        <li class="tabs__item">
          <button class="tabs__button" type="button">{{ tabs[4] }}</button>
        </li>
        <li class="tabs__item">
          <button class="tabs__button" type="button">{{ tabs[5] }}</button>
        </li>
      </ul>
      <div class="new-offers__panel tabs__panel tabs__panel--active">
        <h3 class="visually-hidden">{{ tabs[0] }} спецпредложения.</h3>
        <ul class="new-offers__list new-offers__slider">
          {# ? Если нет цены - добавить класс product-card--no-price
             ? Если есть скидка - добавить класс product-card--sale
             ? Если новый продукт - добавить класс product-card--new #}
          <li class="new-offers__item">
            <div class="product-card new-offers__product-card product-card--sale product-card--new">
              <div class="product-card__content">
                <a class="product-card__link" href="#!">
                  <span class="visually-hidden">Перейти на страницу товара</span>
                </a>
                <div class="product-card__attributes">
                  <span class="product-card__attribute product-card__attribute--new">Новинка</span>
                  <span class="product-card__attribute product-card__attribute--sale">-20%</span>
                </div>
                <button class="product-card__compare-button">
                  <span>Сравнить</span>
                  <svg class="product-card__compare-icon" width="13" height="13" viewBox="0 0 22 22">
                    <use xlink:href="img/sprite.svg#comparison-icon"></use>
                  </svg>
                </button>
                <figure class="product-card__figure">
                  <picture>
                    <source type="image/webp" srcset="@img/product-card-image.webp 1x">
                    <img class="product-card__image" src="@img/product-card-image.png" alt="">
                  </picture>
                </figure>
                <h3 class="product-card__title">Универсальный гусеничный экскаватор XE700C</h3>
                <dl class="product-card__features">
                  <div class="product-card__feature">
                    <dt class="product-card__feature-name">Грузоподъемность:</dt>
                    <dd class="product-card__feature-value">25 тонн</dd>
                  </div>
                  <div class="product-card__feature">
                    <dt class="product-card__feature-name">Длина телескоп. стрелы:</dt>
                    <dd class="product-card__feature-value">34 метра</dd>
                  </div>
                  <div class="product-card__feature">
                    <dt class="product-card__feature-name">Тормозная система</dt>
                    <dd class="product-card__feature-value">с АВС</dd>
                  </div>
                </dl>
                <div class="product-card__price-container">
                  <span class="product-card__price">4 700 000 ₽</span>
                  <div class="product-card__sale-container">
                    <span class="product-card__discount-price">4 900 000 ₽</span>
                    <span class="product-card__discount-value">-20%</span>
                  </div>
                </div>
                <div class="product-card__buttons">
                  <a class="product-card__button button" href="#">Запросить предложение</a>
                  <a class="product-card__button product-card__button--no-price button" href="#">Запросить цену</a>
                </div>
              </div>
            </div>
          </li>
          <li class="new-offers__item">
            <div class="new-offers__product-card product-card product-card--sale product-card--new">
              <div class="product-card__content">
                <a class="product-card__link" href="#!">
                  <span class="visually-hidden">Перейти на страницу товара</span>
                </a>
                <div class="product-card__attributes">
                  <span class="product-card__attribute product-card__attribute--new">Новинка</span>
                  <span class="product-card__attribute product-card__attribute--sale">-20%</span>
                </div>
                <button class="product-card__compare-button">
                  <span>Сравнить</span>
                  <svg class="product-card__compare-icon" width="13" height="13" viewBox="0 0 22 22">
                    <use xlink:href="img/sprite.svg#comparison-icon"></use>
                  </svg>
                </button>
                <figure class="product-card__figure">
                  <picture>
                    <source type="image/webp" srcset="@img/product-card-image.webp 1x">
                    <img class="product-card__image" src="@img/product-card-image.png" alt="">
                  </picture>
                </figure>
                <h3 class="product-card__title">Универсальный гусеничный экскаватор XE700C</h3>
                <dl class="product-card__features">
                  <div class="product-card__feature">
                    <dt class="product-card__feature-name">Грузоподъемность:</dt>
                    <dd class="product-card__feature-value">25 тонн</dd>
                  </div>
                  <div class="product-card__feature">
                    <dt class="product-card__feature-name">Длина телескоп. стрелы:</dt>
                    <dd class="product-card__feature-value">34 метра</dd>
                  </div>
                  <div class="product-card__feature">
                    <dt class="product-card__feature-name">Тормозная система</dt>
                    <dd class="product-card__feature-value">с АВС</dd>
                  </div>
                </dl>
                <div class="product-card__price-container">
                  <span class="product-card__price">4 700 000 ₽</span>
                  <div class="product-card__sale-container">
                    <span class="product-card__discount-price">4 900 000 ₽</span>
                    <span class="product-card__discount-value">-20%</span>
                  </div>
                </div>
                <div class="product-card__buttons">
                  <a class="product-card__button button" href="#">Запросить предложение</a>
                  <a class="product-card__button product-card__button--no-price button" href="#">Запросить цену</a>
                </div>
              </div>
            </div>
          </li>
          <li class="new-offers__item">
            <div class="new-offers__product-card product-card product-card--new product-card--no-price">
              <div class="product-card__content">
                <a class="product-card__link" href="#!">
                  <span class="visually-hidden">Перейти на страницу товара</span>
                </a>
                <div class="product-card__attributes">
                  <span class="product-card__attribute product-card__attribute--new">Новинка</span>
                  <span class="product-card__attribute product-card__attribute--sale">-20%</span>
                </div>
                <button class="product-card__compare-button">
                  <span>Сравнить</span>
                  <svg class="product-card__compare-icon" width="13" height="13" viewBox="0 0 22 22">
                    <use xlink:href="img/sprite.svg#comparison-icon"></use>
                  </svg>
                </button>
                <figure class="product-card__figure">
                  <picture>
                    <source type="image/webp" srcset="@img/product-card-image.webp 1x">
                    <img class="product-card__image" src="@img/product-card-image.png" alt="">
                  </picture>
                </figure>
                <h3 class="product-card__title">Универсальный гусеничный экскаватор XE700C</h3>
                <dl class="product-card__features">
                  <div class="product-card__feature">
                    <dt class="product-card__feature-name">Грузоподъемность:</dt>
                    <dd class="product-card__feature-value">25 тонн</dd>
                  </div>
                  <div class="product-card__feature">
                    <dt class="product-card__feature-name">Длина телескоп. стрелы:</dt>
                    <dd class="product-card__feature-value">34 метра</dd>
                  </div>
                  <div class="product-card__feature">
                    <dt class="product-card__feature-name">Тормозная система</dt>
                    <dd class="product-card__feature-value">с АВС</dd>
                  </div>
                </dl>
                <div class="product-card__price-container">
                  <span class="product-card__price">4 700 000 ₽</span>
                  <div class="product-card__sale-container">
                    <span class="product-card__discount-price">4 900 000 ₽</span>
                    <span class="product-card__discount-value">-20%</span>
                  </div>
                </div>
                <div class="product-card__buttons">
                  <a class="product-card__button button" href="#">Запросить предложение</a>
                  <a class="product-card__button product-card__button--no-price button" href="#">Запросить цену</a>
                </div>
              </div>
            </div>
          </li>
        </ul>
        {# <div class="new-offers__slider-arrows"></div> #}
      </div>
      <div class="tabs__panel"></div>
      <div class="tabs__panel"></div>
      <div class="tabs__panel"></div>
      <div class="tabs__panel"></div>
      <div class="tabs__panel"></div>
    </div>
  </div>
</section>
