<section class="news-carousel section">
  <div class="container">
    <div class="news-carousel__content">
      <h2 class="news-carousel__title section__title">Новости</h2>
      <div class="news-carousel__swiper swiper">
        <ul class="news-carousel__list swiper-wrapper">
          <li class="news-carousel__item swiper-slide">
            <div class="product-card product-card--news">
              <div class="product-card__content">
                <a class="product-card__link" href="./news-article.html">
                  <span class="visually-hidden">Перейти на страницу товара</span>
                </a>
                <div class="product-card__attributes">
                  <span class="product-card__attribute product-card__attribute--date">06.07.22</span>
                </div>
                <figure class="product-card__figure">
                  <picture>
                    <source type="image/webp" srcset="@img/product-card-image.webp 1x">
                    <img class="product-card__image" src="@img/product-card-image.png" alt="">
                  </picture>
                </figure>
                <h3 class="product-card__title">В продуктовой линейке XCMG в России пополнение!</h3>
              </div>
            </div>
          </li>
          <li class="news-carousel__item swiper-slide">
            <div class="product-card product-card--news">
              <div class="product-card__content">
                <a class="product-card__link" href="./news-article.html">
                  <span class="visually-hidden">Перейти на страницу товара</span>
                </a>
                <div class="product-card__attributes">
                  <span class="product-card__attribute product-card__attribute--date">06.07.22</span>
                </div>
                <figure class="product-card__figure">
                  <picture>
                    <source type="image/webp" srcset="@img/product-card-image.webp 1x">
                    <img class="product-card__image" src="@img/product-card-image.png" alt="">
                  </picture>
                </figure>
                <h3 class="product-card__title">В продуктовой линейке XCMG в России пополнение!</h3>
              </div>
            </div>
          </li>
          <li class="news-carousel__item swiper-slide">
            <div class="product-card product-card--news">
              <div class="product-card__content">
                <a class="product-card__link" href="./news-article.html">
                  <span class="visually-hidden">Перейти на страницу товара</span>
                </a>
                <div class="product-card__attributes">
                  <span class="product-card__attribute product-card__attribute--date">06.07.22</span>
                </div>
                <figure class="product-card__figure">
                  <picture>
                    <source type="image/webp" srcset="@img/product-card-image.webp 1x">
                    <img class="product-card__image" src="@img/product-card-image.png" alt="">
                  </picture>
                </figure>
                <h3 class="product-card__title">В продуктовой линейке XCMG в России пополнение!</h3>
              </div>
            </div>
          </li>
          <li class="news-carousel__item swiper-slide">
            <div class="product-card product-card--news">
              <div class="product-card__content">
                <a class="product-card__link" href="./news-article.html">
                  <span class="visually-hidden">Перейти на страницу товара</span>
                </a>
                <div class="product-card__attributes">
                  <span class="product-card__attribute product-card__attribute--date">06.07.22</span>
                </div>
                <figure class="product-card__figure">
                  <picture>
                    <source type="image/webp" srcset="@img/product-card-image.webp 1x">
                    <img class="product-card__image" src="@img/product-card-image.png" alt="">
                  </picture>
                </figure>
                <h3 class="product-card__title">В продуктовой линейке XCMG в России пополнение!</h3>
              </div>
            </div>
          </li>
          <li class="news-carousel__item swiper-slide">
            <div class="product-card product-card--news">
              <div class="product-card__content">
                <a class="product-card__link" href="./news-article.html">
                  <span class="visually-hidden">Перейти на страницу товара</span>
                </a>
                <div class="product-card__attributes">
                  <span class="product-card__attribute product-card__attribute--date">06.07.22</span>
                </div>
                <figure class="product-card__figure">
                  <picture>
                    <source type="image/webp" srcset="@img/product-card-image.webp 1x">
                    <img class="product-card__image" src="@img/product-card-image.png" alt="">
                  </picture>
                </figure>
                <h3 class="product-card__title">В продуктовой линейке XCMG в России пополнение!</h3>
              </div>
            </div>
          </li>
          <li class="news-carousel__item swiper-slide">
            <div class="product-card product-card--news">
              <div class="product-card__content">
                <a class="product-card__link" href="./news-article.html">
                  <span class="visually-hidden">Перейти на страницу товара</span>
                </a>
                <div class="product-card__attributes">
                  <span class="product-card__attribute product-card__attribute--date">06.07.22</span>
                </div>
                <figure class="product-card__figure">
                  <picture>
                    <source type="image/webp" srcset="@img/product-card-image.webp 1x">
                    <img class="product-card__image" src="@img/product-card-image.png" alt="">
                  </picture>
                </figure>
                <h3 class="product-card__title">В продуктовой линейке XCMG в России пополнение!</h3>
              </div>
            </div>
          </li>
          <li class="news-carousel__item swiper-slide">
            <div class="product-card product-card--news">
              <div class="product-card__content">
                <a class="product-card__link" href="./news-article.html">
                  <span class="visually-hidden">Перейти на страницу товара</span>
                </a>
                <div class="product-card__attributes">
                  <span class="product-card__attribute product-card__attribute--date">06.07.22</span>
                </div>
                <figure class="product-card__figure">
                  <picture>
                    <source type="image/webp" srcset="@img/product-card-image.webp 1x">
                    <img class="product-card__image" src="@img/product-card-image.png" alt="">
                  </picture>
                </figure>
                <h3 class="product-card__title">В продуктовой линейке XCMG в России пополнение!</h3>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <button class="news-carousel__swiper-button news-carousel__swiper-button--prev docs__swiper-button docs__swiper-button--prev" type="button">
        <svg class="docs__swiper-button-icon" width="15" height="24" viewBox="0 0 15 24">
          <use xlink:href="img/sprite.svg#arrow-left-icon"></use>
        </svg>
        <span class="visually-hidden">Перелестнуть назад</span>
      </button>
      <button class="news-carousel__swiper-button news-carousel__swiper-button--next docs__swiper-button docs__swiper-button--next" type="button">
        <svg class="docs__swiper-button-icon" width="15" height="24" viewBox="0 0 15 24">
          <use xlink:href="img/sprite.svg#arrow-left-icon"></use>
        </svg>
        <span class="visually-hidden">Перелестнуть вперед</span>
      </button>
    </div>
  </div>
</section>
