{% set tabs = [
  "Экскаваторы",
  "Краны",
  "Погрузчики",
  "Самосвалы",
  "Буровая техника",
  "Дорожная техника",
  "Карьерные самосвалы"
] %}

{# {% set offersType = "new"%} #}

<section class="{{ offersType }}-offers offers">
  <div class="offers__container container">
    <h2 class="offers__title title title--black">{{ offersTitle }}</h2>
    <select class="{{ offersType }}-offers__select offers__select" id="{{ offersType }}-offers" name="{{ offersType }}-offers">
      <option value="{{ tabs[0] }}">{{ tabs[0] }}</option>
      <option value="{{ tabs[1] }}">{{ tabs[1] }}</option>
      <option value="{{ tabs[2] }}">{{ tabs[2] }}</option>
      <option value="{{ tabs[3] }}">{{ tabs[3] }}</option>
      <option value="{{ tabs[4] }}">{{ tabs[4] }}</option>
      <option value="{{ tabs[5] }}">{{ tabs[5] }}</option>
    </select>
    <div class="offers__tabs tabs">
      <ul class="offers__tabs-list tabs__list">
        <li class="tabs__item">
          <button class="tabs__button offers__button offers__button--active" type="button" data-text="{{ tabs[0] }}">{{ tabs[0] }}</button>
        </li>
        <li class="tabs__item">
          <button class="tabs__button offers__button" type="button" data-text="{{ tabs[1] }}">{{ tabs[1] }}</button>
        </li>
        <li class="tabs__item">
          <button class="tabs__button offers__button" type="button" data-text="{{ tabs[2] }}">{{ tabs[2] }}</button>
        </li>
        <li class="tabs__item">
          <button class="tabs__button offers__button" type="button" data-text="{{ tabs[3] }}">{{ tabs[3] }}</button>
        </li>
        <li class="tabs__item">
          <button class="tabs__button offers__button" type="button" data-text="{{ tabs[4] }}">{{ tabs[4] }}</button>
        </li>
        <li class="tabs__item">
          <button class="tabs__button offers__button" type="button" data-text="{{ tabs[5] }}">{{ tabs[5] }}</button>
        </li>
      </ul>
      <div class="offers__panel tabs__panel tabs__panel--active">
        <h3 class="visually-hidden">{{ tabs[0] }} спецпредложения.</h3>
        <div class="{{ offersType }}__cards cards swiper swiper--{{ offersType }}-offers swiper--offers swiper--cards">
          <ul class="cards__list swiper-wrapper">
            <li class="cards__item swiper-slide">
              <div class="product-card offers__product-card product-card--sale product-card--new">
                <div class="product-card__content">
                  <a class="product-card__link" href="./product-page.html">
                    <span class="visually-hidden">Перейти на страницу товара</span>
                  </a>
                  <div class="product-card__attributes">
                    <span class="product-card__attribute product-card__attribute--new">Новинка</span>
                    <span class="product-card__attribute product-card__attribute--sale">-20%</span>
                  </div>
                  <figure class="product-card__figure">
                    <picture>
                      <source type="image/webp" srcset="@img/product-card-image.webp 1x">
                      <img class="product-card__image" src="@img/product-card-image.png" alt="">
                    </picture>
                  </figure>
                  <h3 class="product-card__title">Универсальный гусеничный экскаватор XE700C</h3>
                  <dl class="product-card__features">
                    <div class="product-card__feature">
                      <dt class="product-card__feature-name">Грузоподъемность:</dt>
                      <dd class="product-card__feature-value">25 тонн</dd>
                    </div>
                    <div class="product-card__feature">
                      <dt class="product-card__feature-name">Длина телескоп. стрелы:</dt>
                      <dd class="product-card__feature-value">34 метра</dd>
                    </div>
                    <div class="product-card__feature">
                      <dt class="product-card__feature-name">Тормозная система</dt>
                      <dd class="product-card__feature-value">с АВС</dd>
                    </div>
                  </dl>
                  <div class="product-card__price-container">
                    <span class="product-card__price">4 700 000 ₽</span>
                    <div class="product-card__sale-container">
                      <span class="product-card__discount-price">4 900 000 ₽</span>
                      <span class="product-card__discount-value">-20%</span>
                    </div>
                  </div>
                  <div class="product-card__buttons">
                    <a class="product-card__button product-card__button--offer button" href="#!">Запросить предложение</a>
                    <a class="product-card__button product-card__button--no-price button" href="#!">Запросить цену</a>
                  </div>
                </div>
              </div>
            </li>
            <li class="cards__item swiper-slide">
              <div class="product-card offers__product-card product-card--sale product-card--new">
                <div class="product-card__content">
                  <a class="product-card__link" href="./product-page.html">
                    <span class="visually-hidden">Перейти на страницу товара</span>
                  </a>
                  <div class="product-card__attributes">
                    <span class="product-card__attribute product-card__attribute--new">Новинка</span>
                    <span class="product-card__attribute product-card__attribute--sale">-20%</span>
                  </div>
                  <figure class="product-card__figure">
                    <picture>
                      <source type="image/webp" srcset="@img/product-card-image.webp 1x">
                      <img class="product-card__image" src="@img/product-card-image.png" alt="">
                    </picture>
                  </figure>
                  <h3 class="product-card__title">Универсальный гусеничный экскаватор XE700C</h3>
                  <dl class="product-card__features">
                    <div class="product-card__feature">
                      <dt class="product-card__feature-name">Грузоподъемность:</dt>
                      <dd class="product-card__feature-value">25 тонн</dd>
                    </div>
                    <div class="product-card__feature">
                      <dt class="product-card__feature-name">Длина телескоп. стрелы:</dt>
                      <dd class="product-card__feature-value">34 метра</dd>
                    </div>
                    <div class="product-card__feature">
                      <dt class="product-card__feature-name">Тормозная система</dt>
                      <dd class="product-card__feature-value">с АВС</dd>
                    </div>
                  </dl>
                  <div class="product-card__price-container">
                    <span class="product-card__price">4 700 000 ₽</span>
                    <div class="product-card__sale-container">
                      <span class="product-card__discount-price">4 900 000 ₽</span>
                      <span class="product-card__discount-value">-20%</span>
                    </div>
                  </div>
                  <div class="product-card__buttons">
                    <a class="product-card__button product-card__button--offer button" href="#!">Запросить предложение</a>
                    <a class="product-card__button product-card__button--no-price button" href="#!">Запросить цену</a>
                  </div>
                </div>
              </div>
            </li>
            <li class="cards__item swiper-slide">
              <div class="product-card offers__product-card product-card--sale product-card--new">
                <div class="product-card__content">
                  <a class="product-card__link" href="./product-page.html">
                    <span class="visually-hidden">Перейти на страницу товара</span>
                  </a>
                  <div class="product-card__attributes">
                    <span class="product-card__attribute product-card__attribute--new">Новинка</span>
                    <span class="product-card__attribute product-card__attribute--sale">-20%</span>
                  </div>
                  <figure class="product-card__figure">
                    <picture>
                      <source type="image/webp" srcset="@img/product-card-image.webp 1x">
                      <img class="product-card__image" src="@img/product-card-image.png" alt="">
                    </picture>
                  </figure>
                  <h3 class="product-card__title">Универсальный гусеничный экскаватор XE700C</h3>
                  <dl class="product-card__features">
                    <div class="product-card__feature">
                      <dt class="product-card__feature-name">Грузоподъемность:</dt>
                      <dd class="product-card__feature-value">25 тонн</dd>
                    </div>
                    <div class="product-card__feature">
                      <dt class="product-card__feature-name">Длина телескоп. стрелы:</dt>
                      <dd class="product-card__feature-value">34 метра</dd>
                    </div>
                    <div class="product-card__feature">
                      <dt class="product-card__feature-name">Тормозная система</dt>
                      <dd class="product-card__feature-value">с АВС</dd>
                    </div>
                  </dl>
                  <div class="product-card__price-container">
                    <span class="product-card__price">4 700 000 ₽</span>
                    <div class="product-card__sale-container">
                      <span class="product-card__discount-price">4 900 000 ₽</span>
                      <span class="product-card__discount-value">-20%</span>
                    </div>
                  </div>
                  <div class="product-card__buttons">
                    <a class="product-card__button product-card__button--offer button" href="#!">Запросить предложение</a>
                    <a class="product-card__button product-card__button--no-price button" href="#!">Запросить цену</a>
                  </div>
                </div>
              </div>
            </li>
          </ul>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
      </div>
      <div class="offers__panel tabs__panel">
        <h3 class="visually-hidden">{{ tabs[1] }} спецпредложения.</h3>
        <div class="{{ offersType }}__cards cards swiper swiper--{{ offersType }}-offers swiper--offers swiper--cards">
          <ul class="cards__list swiper-wrapper">
            <li class="cards__item swiper-slide">
              <div class="product-card offers__product-card product-card--sale product-card--new">
                <div class="product-card__content">
                  <a class="product-card__link" href="./product-page.html">
                    <span class="visually-hidden">Перейти на страницу товара</span>
                  </a>
                  <div class="product-card__attributes">
                    <span class="product-card__attribute product-card__attribute--new">Новинка</span>
                    <span class="product-card__attribute product-card__attribute--sale">-20%</span>
                  </div>
                  <figure class="product-card__figure">
                    <picture>
                      <source type="image/webp" srcset="@img/product-card-image.webp 1x">
                      <img class="product-card__image" src="@img/product-card-image.png" alt="">
                    </picture>
                  </figure>
                  <h3 class="product-card__title">Универсальный гусеничный экскаватор XE700C</h3>
                  <dl class="product-card__features">
                    <div class="product-card__feature">
                      <dt class="product-card__feature-name">Грузоподъемность:</dt>
                      <dd class="product-card__feature-value">25 тонн</dd>
                    </div>
                    <div class="product-card__feature">
                      <dt class="product-card__feature-name">Длина телескоп. стрелы:</dt>
                      <dd class="product-card__feature-value">34 метра</dd>
                    </div>
                    <div class="product-card__feature">
                      <dt class="product-card__feature-name">Тормозная система</dt>
                      <dd class="product-card__feature-value">с АВС</dd>
                    </div>
                  </dl>
                  <div class="product-card__price-container">
                    <span class="product-card__price">4 700 000 ₽</span>
                    <div class="product-card__sale-container">
                      <span class="product-card__discount-price">4 900 000 ₽</span>
                      <span class="product-card__discount-value">-20%</span>
                    </div>
                  </div>
                  <div class="product-card__buttons">
                    <a class="product-card__button product-card__button--offer button" href="#!">Запросить предложение</a>
                    <a class="product-card__button product-card__button--no-price button" href="#!">Запросить цену</a>
                  </div>
                </div>
              </div>
            </li>
            <li class="cards__item swiper-slide">
              <div class="product-card offers__product-card product-card--sale product-card--new">
                <div class="product-card__content">
                  <a class="product-card__link" href="./product-page.html">
                    <span class="visually-hidden">Перейти на страницу товара</span>
                  </a>
                  <div class="product-card__attributes">
                    <span class="product-card__attribute product-card__attribute--new">Новинка</span>
                    <span class="product-card__attribute product-card__attribute--sale">-20%</span>
                  </div>
                  <figure class="product-card__figure">
                    <picture>
                      <source type="image/webp" srcset="@img/product-card-image.webp 1x">
                      <img class="product-card__image" src="@img/product-card-image.png" alt="">
                    </picture>
                  </figure>
                  <h3 class="product-card__title">Универсальный гусеничный экскаватор XE700C</h3>
                  <dl class="product-card__features">
                    <div class="product-card__feature">
                      <dt class="product-card__feature-name">Грузоподъемность:</dt>
                      <dd class="product-card__feature-value">25 тонн</dd>
                    </div>
                    <div class="product-card__feature">
                      <dt class="product-card__feature-name">Длина телескоп. стрелы:</dt>
                      <dd class="product-card__feature-value">34 метра</dd>
                    </div>
                    <div class="product-card__feature">
                      <dt class="product-card__feature-name">Тормозная система</dt>
                      <dd class="product-card__feature-value">с АВС</dd>
                    </div>
                  </dl>
                  <div class="product-card__price-container">
                    <span class="product-card__price">4 700 000 ₽</span>
                    <div class="product-card__sale-container">
                      <span class="product-card__discount-price">4 900 000 ₽</span>
                      <span class="product-card__discount-value">-20%</span>
                    </div>
                  </div>
                  <div class="product-card__buttons">
                    <a class="product-card__button product-card__button--offer button" href="#!">Запросить предложение</a>
                    <a class="product-card__button product-card__button--no-price button" href="#!">Запросить цену</a>
                  </div>
                </div>
              </div>
            </li>
            <li class="cards__item swiper-slide">
              <div class="product-card offers__product-card product-card--sale product-card--new">
                <div class="product-card__content">
                  <a class="product-card__link" href="./product-page.html">
                    <span class="visually-hidden">Перейти на страницу товара</span>
                  </a>
                  <div class="product-card__attributes">
                    <span class="product-card__attribute product-card__attribute--new">Новинка</span>
                    <span class="product-card__attribute product-card__attribute--sale">-20%</span>
                  </div>
                  <figure class="product-card__figure">
                    <picture>
                      <source type="image/webp" srcset="@img/product-card-image.webp 1x">
                      <img class="product-card__image" src="@img/product-card-image.png" alt="">
                    </picture>
                  </figure>
                  <h3 class="product-card__title">Универсальный гусеничный экскаватор XE700C</h3>
                  <dl class="product-card__features">
                    <div class="product-card__feature">
                      <dt class="product-card__feature-name">Грузоподъемность:</dt>
                      <dd class="product-card__feature-value">25 тонн</dd>
                    </div>
                    <div class="product-card__feature">
                      <dt class="product-card__feature-name">Длина телескоп. стрелы:</dt>
                      <dd class="product-card__feature-value">34 метра</dd>
                    </div>
                    <div class="product-card__feature">
                      <dt class="product-card__feature-name">Тормозная система</dt>
                      <dd class="product-card__feature-value">с АВС</dd>
                    </div>
                  </dl>
                  <div class="product-card__price-container">
                    <span class="product-card__price">4 700 000 ₽</span>
                    <div class="product-card__sale-container">
                      <span class="product-card__discount-price">4 900 000 ₽</span>
                      <span class="product-card__discount-value">-20%</span>
                    </div>
                  </div>
                  <div class="product-card__buttons">
                    <a class="product-card__button product-card__button--offer button" href="#!">Запросить предложение</a>
                    <a class="product-card__button product-card__button--no-price button" href="#!">Запросить цену</a>
                  </div>
                </div>
              </div>
            </li>
          </ul>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
      </div>
      <div class="offers__panel tabs__panel"></div>
      <div class="offers__panel tabs__panel"></div>
      <div class="offers__panel tabs__panel"></div>
      <div class="offers__panel tabs__panel"></div>
    </div>
  </div>
</section>
