<section class="partners">
  <div class="partners__container container">
    <div class="partners__content">
      <h2 class="partners__title">Нам доверяют</h2>
      <ul class="partners__list">
        <li class="partners__item">
          <div class="partners__link" href="#!">
            <picture>
              <source type="image/webp" srcset="@img/partners/eis.png 1x">
              <img class="partners__image" src="@img/partners/eis.png" alt="">
            </picture>
          </div>
        </li>
        <li class="partners__item">
          <div class="partners__link" href="#!">
            <picture>
              <source type="image/webp" srcset="@img/partners/portal-post.webp 1x">
              <img class="partners__image" src="@img/partners/portal-post.png" alt="">
            </picture>
          </div>
        </li>
        <li class="partners__item">
          <div class="partners__link" href="#!">
            <picture>
              <source type="image/webp" srcset="@img/partners/rts.webp 1x">
              <img class="partners__image" src="@img/partners/rts.png" alt="">
            </picture>
          </div>
        </li>
        <li class="partners__item">
          <div class="partners__link" href="#!">
            <picture>
              <source type="image/webp" srcset="@img/partners/roseltorg.webp 1x">
              <img class="partners__image" src="@img/partners/roseltorg.png" alt="">
            </picture>
          </div>
        </li>
        <li class="partners__item">
          <div class="partners__link" href="#!">
            <picture>
              <source type="image/webp" srcset="@img/partners/rad.webp 1x">
              <img class="partners__image" src="@img/partners/rad.jpg" alt="">
            </picture>
          </div>
        </li>
        <li class="partners__item">
          <div class="partners__link" href="#!">
            <picture>
              <source type="image/webp" srcset="@img/partners/sber.webp 1x">
              <img class="partners__image" src="@img/partners/sber.png" alt="">
            </picture>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
