<section class="popular">
  <div class="popular__container container">
    <h2 class="popular__title section-header">Популярные</h2>
    <div class="popular__cards cards">
      <ul class="cards__list">
        <li class="cards__item">
          <div class="product-card new-offers__product-card product-card--sale product-card--new">
            <div class="product-card__content">
              <a class="product-card__link" href="./product-page.html">
                <span class="visually-hidden">Перейти на страницу товара</span>
              </a>
              <div class="product-card__attributes">
                <span class="product-card__attribute product-card__attribute--new">Новинка</span>
                <span class="product-card__attribute product-card__attribute--sale">-20%</span>
              </div>
              <button class="product-card__compare-button">
                <span>Сравнить</span>
                <svg class="product-card__compare-icon" width="13" height="13" viewBox="0 0 22 22">
                  <use xlink:href="img/sprite.svg#comparison-icon"></use>
                </svg>
              </button>
              <figure class="product-card__figure">
                <picture>
                  <source type="image/webp" srcset="@img/product-card-image2.webp 1x">
                  <img class="product-card__image" src="@img/product-card-image2.png" alt="">
                </picture>
              </figure>
              <h3 class="product-card__title">Универсальный гусеничный экскаватор XE700C</h3>
              <dl class="product-card__features">
                <div class="product-card__feature">
                  <dt class="product-card__feature-name">Грузоподъемность:</dt>
                  <dd class="product-card__feature-value">25 тонн</dd>
                </div>
                <div class="product-card__feature">
                  <dt class="product-card__feature-name">Длина телескоп. стрелы:</dt>
                  <dd class="product-card__feature-value">34 метра</dd>
                </div>
                <div class="product-card__feature">
                  <dt class="product-card__feature-name">Тормозная система</dt>
                  <dd class="product-card__feature-value">с АВС</dd>
                </div>
              </dl>
              <div class="product-card__price-container">
                <span class="product-card__price">4 700 000 ₽</span>
                <div class="product-card__sale-container">
                  <span class="product-card__discount-price">4 900 000 ₽</span>
                  <span class="product-card__discount-value">-20%</span>
                </div>
              </div>
              <div class="product-card__buttons">
                <a class="product-card__button button" href="#">Запросить предложение</a>
                <a class="product-card__button product-card__button--no-price button" href="#">Запросить цену</a>
              </div>
            </div>
          </div>
        </li>
        <li class="cards__item">
          <div class="product-card new-offers__product-card product-card--sale product-card--new">
            <div class="product-card__content">
              <a class="product-card__link" href="./product-page.html">
                <span class="visually-hidden">Перейти на страницу товара</span>
              </a>
              <div class="product-card__attributes">
                <span class="product-card__attribute product-card__attribute--new">Новинка</span>
                <span class="product-card__attribute product-card__attribute--sale">-20%</span>
              </div>
              <button class="product-card__compare-button">
                <span>Сравнить</span>
                <svg class="product-card__compare-icon" width="13" height="13" viewBox="0 0 22 22">
                  <use xlink:href="img/sprite.svg#comparison-icon"></use>
                </svg>
              </button>
              <figure class="product-card__figure">
                <picture>
                  <source type="image/webp" srcset="@img/product-card-image2.webp 1x">
                  <img class="product-card__image" src="@img/product-card-image2.png" alt="">
                </picture>
              </figure>
              <h3 class="product-card__title">Универсальный гусеничный экскаватор XE700C</h3>
              <dl class="product-card__features">
                <div class="product-card__feature">
                  <dt class="product-card__feature-name">Грузоподъемность:</dt>
                  <dd class="product-card__feature-value">25 тонн</dd>
                </div>
                <div class="product-card__feature">
                  <dt class="product-card__feature-name">Длина телескоп. стрелы:</dt>
                  <dd class="product-card__feature-value">34 метра</dd>
                </div>
                <div class="product-card__feature">
                  <dt class="product-card__feature-name">Тормозная система</dt>
                  <dd class="product-card__feature-value">с АВС</dd>
                </div>
              </dl>
              <div class="product-card__price-container">
                <span class="product-card__price">4 700 000 ₽</span>
                <div class="product-card__sale-container">
                  <span class="product-card__discount-price">4 900 000 ₽</span>
                  <span class="product-card__discount-value">-20%</span>
                </div>
              </div>
              <div class="product-card__buttons">
                <a class="product-card__button button" href="#">Запросить предложение</a>
                <a class="product-card__button product-card__button--no-price button" href="#">Запросить цену</a>
              </div>
            </div>
          </div>
        </li>
        <li class="cards__item">
          <div class="product-card new-offers__product-card product-card--sale product-card--new">
            <div class="product-card__content">
              <a class="product-card__link" href="./product-page.html">
                <span class="visually-hidden">Перейти на страницу товара</span>
              </a>
              <div class="product-card__attributes">
                <span class="product-card__attribute product-card__attribute--new">Новинка</span>
                <span class="product-card__attribute product-card__attribute--sale">-20%</span>
              </div>
              <button class="product-card__compare-button">
                <span>Сравнить</span>
                <svg class="product-card__compare-icon" width="13" height="13" viewBox="0 0 22 22">
                  <use xlink:href="img/sprite.svg#comparison-icon"></use>
                </svg>
              </button>
              <figure class="product-card__figure">
                <picture>
                  <source type="image/webp" srcset="@img/product-card-image2.webp 1x">
                  <img class="product-card__image" src="@img/product-card-image2.png" alt="">
                </picture>
              </figure>
              <h3 class="product-card__title">Универсальный гусеничный экскаватор XE700C</h3>
              <dl class="product-card__features">
                <div class="product-card__feature">
                  <dt class="product-card__feature-name">Грузоподъемность:</dt>
                  <dd class="product-card__feature-value">25 тонн</dd>
                </div>
                <div class="product-card__feature">
                  <dt class="product-card__feature-name">Длина телескоп. стрелы:</dt>
                  <dd class="product-card__feature-value">34 метра</dd>
                </div>
                <div class="product-card__feature">
                  <dt class="product-card__feature-name">Тормозная система</dt>
                  <dd class="product-card__feature-value">с АВС</dd>
                </div>
              </dl>
              <div class="product-card__price-container">
                <span class="product-card__price">4 700 000 ₽</span>
                <div class="product-card__sale-container">
                  <span class="product-card__discount-price">4 900 000 ₽</span>
                  <span class="product-card__discount-value">-20%</span>
                </div>
              </div>
              <div class="product-card__buttons">
                <a class="product-card__button button" href="#">Запросить предложение</a>
                <a class="product-card__button product-card__button--no-price button" href="#">Запросить цену</a>
              </div>
            </div>
          </div>
        </li>
        <li class="cards__item">
          <div class="product-card new-offers__product-card product-card--sale product-card--new">
            <div class="product-card__content">
              <a class="product-card__link" href="./product-page.html">
                <span class="visually-hidden">Перейти на страницу товара</span>
              </a>
              <div class="product-card__attributes">
                <span class="product-card__attribute product-card__attribute--new">Новинка</span>
                <span class="product-card__attribute product-card__attribute--sale">-20%</span>
              </div>
              <button class="product-card__compare-button">
                <span>Сравнить</span>
                <svg class="product-card__compare-icon" width="13" height="13" viewBox="0 0 22 22">
                  <use xlink:href="img/sprite.svg#comparison-icon"></use>
                </svg>
              </button>
              <figure class="product-card__figure">
                <picture>
                  <source type="image/webp" srcset="@img/product-card-image2.webp 1x">
                  <img class="product-card__image" src="@img/product-card-image2.png" alt="">
                </picture>
              </figure>
              <h3 class="product-card__title">Универсальный гусеничный экскаватор XE700C</h3>
              <dl class="product-card__features">
                <div class="product-card__feature">
                  <dt class="product-card__feature-name">Грузоподъемность:</dt>
                  <dd class="product-card__feature-value">25 тонн</dd>
                </div>
                <div class="product-card__feature">
                  <dt class="product-card__feature-name">Длина телескоп. стрелы:</dt>
                  <dd class="product-card__feature-value">34 метра</dd>
                </div>
                <div class="product-card__feature">
                  <dt class="product-card__feature-name">Тормозная система</dt>
                  <dd class="product-card__feature-value">с АВС</dd>
                </div>
              </dl>
              <div class="product-card__price-container">
                <span class="product-card__price">4 700 000 ₽</span>
                <div class="product-card__sale-container">
                  <span class="product-card__discount-price">4 900 000 ₽</span>
                  <span class="product-card__discount-value">-20%</span>
                </div>
              </div>
              <div class="product-card__buttons">
                <a class="product-card__button button" href="#">Запросить предложение</a>
                <a class="product-card__button product-card__button--no-price button" href="#">Запросить цену</a>
              </div>
            </div>
          </div>
        </li>
        <li class="cards__item">
          <div class="product-card new-offers__product-card product-card--sale product-card--new">
            <div class="product-card__content">
              <a class="product-card__link" href="./product-page.html">
                <span class="visually-hidden">Перейти на страницу товара</span>
              </a>
              <div class="product-card__attributes">
                <span class="product-card__attribute product-card__attribute--new">Новинка</span>
                <span class="product-card__attribute product-card__attribute--sale">-20%</span>
              </div>
              <button class="product-card__compare-button">
                <span>Сравнить</span>
                <svg class="product-card__compare-icon" width="13" height="13" viewBox="0 0 22 22">
                  <use xlink:href="img/sprite.svg#comparison-icon"></use>
                </svg>
              </button>
              <figure class="product-card__figure">
                <picture>
                  <source type="image/webp" srcset="@img/product-card-image2.webp 1x">
                  <img class="product-card__image" src="@img/product-card-image2.png" alt="">
                </picture>
              </figure>
              <h3 class="product-card__title">Универсальный гусеничный экскаватор XE700C</h3>
              <dl class="product-card__features">
                <div class="product-card__feature">
                  <dt class="product-card__feature-name">Грузоподъемность:</dt>
                  <dd class="product-card__feature-value">25 тонн</dd>
                </div>
                <div class="product-card__feature">
                  <dt class="product-card__feature-name">Длина телескоп. стрелы:</dt>
                  <dd class="product-card__feature-value">34 метра</dd>
                </div>
                <div class="product-card__feature">
                  <dt class="product-card__feature-name">Тормозная система</dt>
                  <dd class="product-card__feature-value">с АВС</dd>
                </div>
              </dl>
              <div class="product-card__price-container">
                <span class="product-card__price">4 700 000 ₽</span>
                <div class="product-card__sale-container">
                  <span class="product-card__discount-price">4 900 000 ₽</span>
                  <span class="product-card__discount-value">-20%</span>
                </div>
              </div>
              <div class="product-card__buttons">
                <a class="product-card__button button" href="#">Запросить предложение</a>
                <a class="product-card__button product-card__button--no-price button" href="#">Запросить цену</a>
              </div>
            </div>
          </div>
        </li>
        <li class="cards__item">
          <div class="product-card new-offers__product-card product-card--sale product-card--new">
            <div class="product-card__content">
              <a class="product-card__link" href="./product-page.html">
                <span class="visually-hidden">Перейти на страницу товара</span>
              </a>
              <div class="product-card__attributes">
                <span class="product-card__attribute product-card__attribute--new">Новинка</span>
                <span class="product-card__attribute product-card__attribute--sale">-20%</span>
              </div>
              <button class="product-card__compare-button">
                <span>Сравнить</span>
                <svg class="product-card__compare-icon" width="13" height="13" viewBox="0 0 22 22">
                  <use xlink:href="img/sprite.svg#comparison-icon"></use>
                </svg>
              </button>
              <figure class="product-card__figure">
                <picture>
                  <source type="image/webp" srcset="@img/product-card-image2.webp 1x">
                  <img class="product-card__image" src="@img/product-card-image2.png" alt="">
                </picture>
              </figure>
              <h3 class="product-card__title">Универсальный гусеничный экскаватор XE700C</h3>
              <dl class="product-card__features">
                <div class="product-card__feature">
                  <dt class="product-card__feature-name">Грузоподъемность:</dt>
                  <dd class="product-card__feature-value">25 тонн</dd>
                </div>
                <div class="product-card__feature">
                  <dt class="product-card__feature-name">Длина телескоп. стрелы:</dt>
                  <dd class="product-card__feature-value">34 метра</dd>
                </div>
                <div class="product-card__feature">
                  <dt class="product-card__feature-name">Тормозная система</dt>
                  <dd class="product-card__feature-value">с АВС</dd>
                </div>
              </dl>
              <div class="product-card__price-container">
                <span class="product-card__price">4 700 000 ₽</span>
                <div class="product-card__sale-container">
                  <span class="product-card__discount-price">4 900 000 ₽</span>
                  <span class="product-card__discount-value">-20%</span>
                </div>
              </div>
              <div class="product-card__buttons">
                <a class="product-card__button button" href="#">Запросить предложение</a>
                <a class="product-card__button product-card__button--no-price button" href="#">Запросить цену</a>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
