<section class="popular">
  <div class="popular__container container">
    <h2 class="popular__title section-header">Популярные</h2>
    <div class="popular__cards cards swiper swiper--popular swiper--cards">
      <ul class="popular__cards-list cards__list swiper-wrapper">
        <li class="cards__item swiper-slide">
          <div class="product-card product-card--sale product-card--new">
            <div class="product-card__content">
              <a class="product-card__link" href="./product-page.html">
                <span class="visually-hidden">Перейти на страницу товара</span>
              </a>
              <div class="product-card__attributes">
                <span class="product-card__attribute product-card__attribute--new">Новинка</span>
                <span class="product-card__attribute product-card__attribute--sale">-20%</span>
              </div>
              <figure class="product-card__figure">
                <picture>
                  <source type="image/webp" srcset="@img/product-card-image2.webp 1x">
                  <img class="product-card__image" src="@img/product-card-image2.png" alt="">
                </picture>
              </figure>
              <h3 class="product-card__title">Универсальный гусеничный экскаватор XE700C</h3>
              <dl class="product-card__features">
                <div class="product-card__feature">
                  <dt class="product-card__feature-name">Грузоподъемность:</dt>
                  <dd class="product-card__feature-value">25 тонн</dd>
                </div>
                <div class="product-card__feature">
                  <dt class="product-card__feature-name">Длина телескоп. стрелы:</dt>
                  <dd class="product-card__feature-value">34 метра</dd>
                </div>
                <div class="product-card__feature">
                  <dt class="product-card__feature-name">Тормозная система</dt>
                  <dd class="product-card__feature-value">с АВС</dd>
                </div>
              </dl>
              <div class="product-card__price-container">
                <span class="product-card__price">4 700 000 ₽</span>
                <div class="product-card__sale-container">
                  <span class="product-card__discount-price">4 900 000 ₽</span>
                  <span class="product-card__discount-value">-20%</span>
                </div>
              </div>
              <div class="product-card__buttons">
                <a class="product-card__button product-card__button--offer button" href="#!">Запросить предложение</a>
                <a class="product-card__button product-card__button--no-price button" href="#!">Запросить цену</a>
              </div>
            </div>
          </div>
        </li>
        <li class="cards__item swiper-slide">
          <div class="product-card product-card--sale product-card--new product-card--no-price">
            <div class="product-card__content">
              <a class="product-card__link" href="./product-page.html">
                <span class="visually-hidden">Перейти на страницу товара</span>
              </a>
              <div class="product-card__attributes">
                <span class="product-card__attribute product-card__attribute--new">Новинка</span>
                <span class="product-card__attribute product-card__attribute--sale">-20%</span>
              </div>
              <figure class="product-card__figure">
                <picture>
                  <source type="image/webp" srcset="@img/product-card-image2.webp 1x">
                  <img class="product-card__image" src="@img/product-card-image2.png" alt="">
                </picture>
              </figure>
              <h3 class="product-card__title">Универсальный гусеничный экскаватор XE700C</h3>
              <dl class="product-card__features">
                <div class="product-card__feature">
                  <dt class="product-card__feature-name">Грузоподъемность:</dt>
                  <dd class="product-card__feature-value">25 тонн</dd>
                </div>
                <div class="product-card__feature">
                  <dt class="product-card__feature-name">Длина телескоп. стрелы:</dt>
                  <dd class="product-card__feature-value">34 метра</dd>
                </div>
                <div class="product-card__feature">
                  <dt class="product-card__feature-name">Тормозная система</dt>
                  <dd class="product-card__feature-value">с АВС</dd>
                </div>
              </dl>
              <div class="product-card__price-container">
                <span class="product-card__price">4 700 000 ₽</span>
                <div class="product-card__sale-container">
                  <span class="product-card__discount-price">4 900 000 ₽</span>
                  <span class="product-card__discount-value">-20%</span>
                </div>
              </div>
              <div class="product-card__buttons">
                <a class="product-card__button product-card__button--offer button" href="#!">Запросить предложение</a>
                <a class="product-card__button product-card__button--no-price button" href="#!">Запросить цену</a>
              </div>
            </div>
          </div>
        </li>
        <li class="cards__item swiper-slide">
          <div class="product-card product-card--sale product-card--new product-card--no-price">
            <div class="product-card__content">
              <a class="product-card__link" href="./product-page.html">
                <span class="visually-hidden">Перейти на страницу товара</span>
              </a>
              <div class="product-card__attributes">
                <span class="product-card__attribute product-card__attribute--new">Новинка</span>
                <span class="product-card__attribute product-card__attribute--sale">-20%</span>
              </div>
              <figure class="product-card__figure">
                <picture>
                  <source type="image/webp" srcset="@img/product-card-image2.webp 1x">
                  <img class="product-card__image" src="@img/product-card-image2.png" alt="">
                </picture>
              </figure>
              <h3 class="product-card__title">Универсальный гусеничный экскаватор XE700C</h3>
              <dl class="product-card__features">
                <div class="product-card__feature">
                  <dt class="product-card__feature-name">Грузоподъемность:</dt>
                  <dd class="product-card__feature-value">25 тонн</dd>
                </div>
                <div class="product-card__feature">
                  <dt class="product-card__feature-name">Длина телескоп. стрелы:</dt>
                  <dd class="product-card__feature-value">34 метра</dd>
                </div>
                <div class="product-card__feature">
                  <dt class="product-card__feature-name">Тормозная система</dt>
                  <dd class="product-card__feature-value">с АВС</dd>
                </div>
              </dl>
              <div class="product-card__price-container">
                <span class="product-card__price">4 700 000 ₽</span>
                <div class="product-card__sale-container">
                  <span class="product-card__discount-price">4 900 000 ₽</span>
                  <span class="product-card__discount-value">-20%</span>
                </div>
              </div>
              <div class="product-card__buttons">
                <a class="product-card__button product-card__button--offer button" href="#!">Запросить предложение</a>
                <a class="product-card__button product-card__button--no-price button" href="#!">Запросить цену</a>
              </div>
            </div>
          </div>
        </li>
        <li class="cards__item swiper-slide">
          <div class="product-card product-card--sale product-card--new product-card--no-price">
            <div class="product-card__content">
              <a class="product-card__link" href="./product-page.html">
                <span class="visually-hidden">Перейти на страницу товара</span>
              </a>
              <div class="product-card__attributes">
                <span class="product-card__attribute product-card__attribute--new">Новинка</span>
                <span class="product-card__attribute product-card__attribute--sale">-20%</span>
              </div>
              <figure class="product-card__figure">
                <picture>
                  <source type="image/webp" srcset="@img/product-card-image2.webp 1x">
                  <img class="product-card__image" src="@img/product-card-image2.png" alt="">
                </picture>
              </figure>
              <h3 class="product-card__title">Универсальный гусеничный экскаватор XE700C</h3>
              <dl class="product-card__features">
                <div class="product-card__feature">
                  <dt class="product-card__feature-name">Грузоподъемность:</dt>
                  <dd class="product-card__feature-value">25 тонн</dd>
                </div>
                <div class="product-card__feature">
                  <dt class="product-card__feature-name">Длина телескоп. стрелы:</dt>
                  <dd class="product-card__feature-value">34 метра</dd>
                </div>
                <div class="product-card__feature">
                  <dt class="product-card__feature-name">Тормозная система</dt>
                  <dd class="product-card__feature-value">с АВС</dd>
                </div>
              </dl>
              <div class="product-card__price-container">
                <span class="product-card__price">4 700 000 ₽</span>
                <div class="product-card__sale-container">
                  <span class="product-card__discount-price">4 900 000 ₽</span>
                  <span class="product-card__discount-value">-20%</span>
                </div>
              </div>
              <div class="product-card__buttons">
                <a class="product-card__button product-card__button--offer button" href="#!">Запросить предложение</a>
                <a class="product-card__button product-card__button--no-price button" href="#!">Запросить цену</a>
              </div>
            </div>
          </div>
        </li>
        <li class="cards__item swiper-slide">
          <div class="product-card product-card--sale product-card--new product-card--no-price">
            <div class="product-card__content">
              <a class="product-card__link" href="./product-page.html">
                <span class="visually-hidden">Перейти на страницу товара</span>
              </a>
              <div class="product-card__attributes">
                <span class="product-card__attribute product-card__attribute--new">Новинка</span>
                <span class="product-card__attribute product-card__attribute--sale">-20%</span>
              </div>
              <figure class="product-card__figure">
                <picture>
                  <source type="image/webp" srcset="@img/product-card-image2.webp 1x">
                  <img class="product-card__image" src="@img/product-card-image2.png" alt="">
                </picture>
              </figure>
              <h3 class="product-card__title">Универсальный гусеничный экскаватор XE700C</h3>
              <dl class="product-card__features">
                <div class="product-card__feature">
                  <dt class="product-card__feature-name">Грузоподъемность:</dt>
                  <dd class="product-card__feature-value">25 тонн</dd>
                </div>
                <div class="product-card__feature">
                  <dt class="product-card__feature-name">Длина телескоп. стрелы:</dt>
                  <dd class="product-card__feature-value">34 метра</dd>
                </div>
                <div class="product-card__feature">
                  <dt class="product-card__feature-name">Тормозная система</dt>
                  <dd class="product-card__feature-value">с АВС</dd>
                </div>
              </dl>
              <div class="product-card__price-container">
                <span class="product-card__price">4 700 000 ₽</span>
                <div class="product-card__sale-container">
                  <span class="product-card__discount-price">4 900 000 ₽</span>
                  <span class="product-card__discount-value">-20%</span>
                </div>
              </div>
              <div class="product-card__buttons">
                <a class="product-card__button product-card__button--offer button" href="#!">Запросить предложение</a>
                <a class="product-card__button product-card__button--no-price button" href="#!">Запросить цену</a>
              </div>
            </div>
          </div>
        </li>
        <li class="cards__item swiper-slide">
          <div class="product-card product-card--sale product-card--new">
            <div class="product-card__content">
              <a class="product-card__link" href="./product-page.html">
                <span class="visually-hidden">Перейти на страницу товара</span>
              </a>
              <div class="product-card__attributes">
                <span class="product-card__attribute product-card__attribute--new">Новинка</span>
                <span class="product-card__attribute product-card__attribute--sale">-20%</span>
              </div>
              <figure class="product-card__figure">
                <picture>
                  <source type="image/webp" srcset="@img/product-card-image2.webp 1x">
                  <img class="product-card__image" src="@img/product-card-image2.png" alt="">
                </picture>
              </figure>
              <h3 class="product-card__title">Универсальный гусеничный экскаватор XE700C</h3>
              <dl class="product-card__features">
                <div class="product-card__feature">
                  <dt class="product-card__feature-name">Грузоподъемность:</dt>
                  <dd class="product-card__feature-value">25 тонн</dd>
                </div>
                <div class="product-card__feature">
                  <dt class="product-card__feature-name">Длина телескоп. стрелы:</dt>
                  <dd class="product-card__feature-value">34 метра</dd>
                </div>
                <div class="product-card__feature">
                  <dt class="product-card__feature-name">Тормозная система</dt>
                  <dd class="product-card__feature-value">с АВС</dd>
                </div>
              </dl>
              <div class="product-card__price-container">
                <span class="product-card__price">4 700 000 ₽</span>
                <div class="product-card__sale-container">
                  <span class="product-card__discount-price">4 900 000 ₽</span>
                  <span class="product-card__discount-value">-20%</span>
                </div>
              </div>
              <div class="product-card__buttons">
                <a class="product-card__button product-card__button--offer button" href="#!">Запросить предложение</a>
                <a class="product-card__button product-card__button--no-price button" href="#!">Запросить цену</a>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</section>
