<section class="product-page__card">
  <div class="container">
    <div class="product-card product-card--full product-card--sale product-card--new">
      <div class="product-card__content">
        <div class="product-card__attributes">
          <span class="product-card__attribute product-card__attribute--new">Новинка</span>
          <span class="product-card__attribute product-card__attribute--sale">-20%</span>
        </div>
        <h1 class="product-card__title">Универсальный гусеничный экскаватор XE700C</h1>
        {% include "./gallery.j2" %}
        <dl class="product-card__features">
          <div class="product-card__feature">
            <dt class="product-card__feature-name">Грузоподъемность:</dt>
            <dd class="product-card__feature-value">25 тонн</dd>
          </div>
          <div class="product-card__feature">
            <dt class="product-card__feature-name">Длина телескоп. стрелы:</dt>
            <dd class="product-card__feature-value">34 метра</dd>
          </div>
          <div class="product-card__feature">
            <dt class="product-card__feature-name">Тормозная система</dt>
            <dd class="product-card__feature-value">с АВС</dd>
          </div>
        </dl>
        <div class="product-card__price-container">
          <span class="product-card__price">4 700 000 ₽</span>
          <div class="product-card__sale-container">
            <span class="product-card__discount-price">4 900 000 ₽</span>
            <span class="product-card__discount-value">-20%</span>
          </div>
        </div>
        <div class="product-card__buttons">
          <a class="product-card__button button" href="#">Запросить предложение</a>
          <a class="product-card__button product-card__button--leasing button" href="#">В лизинг</a>
        </div>
      </div>
    </div>
    <div class="product-page__info">
      <div class="product-page__characteristics characteristics">
        <h2 class="characteristics__title section-header">
          Характеристики
        </h2>
        <button class="characteristics__accordion-button accordion-button" type="button">
          <span class="visually-hidden">Свернуть раздел</span>
        </button>
        <div class="characteristics__accordion-panel accordion-panel">
          <ul class="characteristics__list">
            <li class="characteristics__item">
              <dl>
                <dt class="characteristics__name">Давление на грунт, МПа</dt>
                <dd class="characteristics__value">99.1</dd>
              </dl>
            </li>
            <li class="characteristics__item">
              <dl>
                <dt class="characteristics__name">Номинальная мощность двигателя, Квт/(об/мин)</dt>
                <dd class="characteristics__value">336/1800</dd>
              </dl>
            </li>
            <li class="characteristics__item">
              <dl>
                <dt class="characteristics__name">Модель двигателя</dt>
                <dd class="characteristics__value">CUMMINS QSX15</dd>
              </dl>
            </li>
            <li class="characteristics__item">
              <dl>
                <dt class="characteristics__name">Mаксимальная скорость движения (км/ч)</dt>
                <dd class="characteristics__value">4.2/3.0</dd>
              </dl>
            </li>
            <li class="characteristics__item">
              <dl>
                <dt class="characteristics__name">Давление на грунт, МПа</dt>
                <dd class="characteristics__value">99.1</dd>
              </dl>
            </li>
            <li class="characteristics__item">
              <dl>
                <dt class="characteristics__name">Номинальная мощность двигателя, Квт/(об/мин)</dt>
                <dd class="characteristics__value">336/1800</dd>
              </dl>
            </li>
            <li class="characteristics__item">
              <dl>
                <dt class="characteristics__name">Модель двигателя</dt>
                <dd class="characteristics__value">CUMMINS QSX15</dd>
              </dl>
            </li>
            <li class="characteristics__item">
              <dl>
                <dt class="characteristics__name">Mаксимальная скорость движения (км/ч)</dt>
                <dd class="characteristics__value">4.2/3.0</dd>
              </dl>
            </li>
          </ul>
          <a class="characteristics__ask-link" href="#!">Задать вопрос</a>
        </div>

      </div>
      <div class="product-page__advantages">

      </div>
    </div>
  </div>
</section>
