<section class="spareparts">
  <div class="spareparts__container container">
    <div class="spareparts__content">
      <div class="spareparts__main">
        <h2 class="spareparts__header">Более 5000 наименований комплектующих для всего модельного ряда техники XCMG</h2>
        <p class="spareparts__add-info">«Техстропроект» - прямой поставщиком оригинальных запчастей на спецтехнику XCMG</p>
        <ul class="spareparts__list">
          <li class="spareparts__list-item spareparts__list-item--urgent">
            <p class="spareparts__list-item-content">
              <b>При необходимости организуем <br>срочный заказ</b> нужной автозапчасти из Китая в Россию
            </p>
          </li>
          <li class="spareparts__list-item spareparts__list-item--warehouse">
            <p class="spareparts__list-item-content">
              90% запчастей <b>всегда в наличии на складе</b>
            </p>
          </li>
          <li class="spareparts__list-item spareparts__list-item--help">
            <p class="spareparts__list-item-content">
              <b>Наши специалисты помогут быстро</b><br> и точно подобрать запасные части
            </p>
          </li>
        </ul>
        <a href="#" class="spareparts__button button">Подробнее о запчастях</a>
      </div>
      <figure class="spareparts__image-container">
        <picture>
          <source type="image/webp" media="(min-width: 1315px)" srcset="@img/spareparts-desktop.webp 1x, @img/spareparts-desktop@2x.webp 2x">
          <source type="image/webp" media="(min-width: 768px)" srcset="@img/spareparts-tablet.webp 1x, @img/spareparts-tablet@2x.webp 2x">
          <source type="image/webp" srcset="@img/spareparts-mobile.webp 1x, @img/spareparts-mobile@2x.webp 2x">
          <source media="(min-width: 1315px)" srcset="@img/spareparts-desktop.jpg 1x, @img/spareparts-desktop@2x.jpg 2x">
          <source media="(min-width: 768px)" srcset="@img/spareparts-tablet.jpg 1x, @img/spareparts-tablet@2x.jpg 2x">
          <img class="spareparts__image" src="@img/spareparts-mobile.jpg" srcset="@img/spareparts-mobile@2x.jpg 2x" alt="">
        </picture>
      </figure>
    </div>
  </div>
</section>
