<section class="spareparts-form filters-form section">
  <div class="spareparts-form__container container">
    <div class="spareparts-form__wrapper">
      <h2 class="visually-hidden">Форма с вашими данными для получения информации о цене и стоимости</h2>
      <p class="spareparts-form__title section__title">Узнайте наличие нужной запчасти и стоимость</p>
      <form class="spareparts-page__form form" action="https://echo.htmlacademy.ru" method="get">
        <div class="form__fields">
          <label class="form__label">
            <span class="form__label-text">Модель техники</span>
            <input class="form__field" type="text" id="tech-model" name="tech-model" placeholder="Экскаватор XM101E">
          </label>
          <label class="form__label">
            <span class="form__label-text">Название запчасти</span>
            <input class="form__field" type="text" id="spareparts-name" name="spareparts-name" placeholder="Колесо заднее">
          </label>
          <label class="form__label">
            <span class="form__label-text">Каталожный номер (если знаете)</span>
            <input class="form__field" type="text" id="catalog-number" name="catalog-number" placeholder="5345345">
          </label>
          <label class="form__label">
            <span class="form__label-text">Название компании</span>
            <input class="form__field" type="text" id="company-name" name="company-name" placeholder="Строинвест77">
          </label>
          <label class="form__label">
            <span class="form__label-text">Ваше имя</span>
            <input class="form__field" type="text" id="client-name" name="client-name" placeholder="Иван Иванович" required>
          </label>
          <label class="form__label">
            <span class="form__label-text">Телефон</span>
            <input class="form__field" type="tel" id="phone" name="phone" placeholder="+7(___)___-__-__" required>
          </label>
        </div>
        <div class="form__fields">
          <div class="form__buttons">
            <button class="button form__submit-button">Узнать стоимость</button>
            <label class="form__label form__label--checkbox form__label--politics">
              <input class="form__checkbox" type="checkbox" name="privacy-policy" id="privacy policy "value="agree" checked>
              <span class="form__mark"></span>
              <span>Согласен с <a href="#!">Политикой конфиденциальности</a></span>
            </label>
          </div>
          <div class="form__messengers">
            <span class="form__label-text">или напишите в&nbsp;мессенджер</span>
            <a class="messenger messenger--telegram messenger--form" href="#">
              <span class="visually-hidden">Контакт телеграма</span>
            </a>
            <a class="messenger messenger--whatsup messenger--form" href="#">
              <span class="visually-hidden">Контакт вотсапа</span>
            </a>
          </div>
        </div>

      </form>
    </div>

  </div>
</section>
