<section class="spareparts section">
  <div class="spareparts__container container">
    <div class="spareparts__content section__content">
      <div class="spareparts__main section__main">
        <h2 class="spareparts__title section__title">Более 5000 наименований комплектующих для всего модельного ряда техники XCMG</h2>
        <p class="spareparts__add-info">«Техстропроект» - прямой поставщиком оригинальных запчастей на спецтехнику XCMG</p>
        <ul class="spareparts__list section__list">
          <li class="spareparts__item section__item">
            <span class="spareparts__item-icon section__item-icon section__item-icon--urgent"></span>
            <p class="spareparts__item-text section__item-text">
              <b>При необходимости организуем срочный заказ</b> нужной автозапчасти из Китая в Россию
            </p>
          </li>
          <li class="spareparts__item section__item">
            <span class="spareparts__item-icon section__item-icon section__item-icon--warehouse"></span>
            <p class="spareparts__item-text section__item-text">
              <b>90% запчастей всегда в наличии</b> на складе в вашем регионе
            </p>
          </li>
          <li class="spareparts__item section__item">
            <span class="spareparts__item-icon section__item-icon section__item-icon--spec"></span>
            <p class="spareparts__item-text section__item-text">
              <b>Наши специалисты помогут быстро</b> и точно подобрать запасные части
            </p>
          </li>
        </ul>
        <a href="#" class="spareparts__button button">Подробнее о запчастях</a>
      </div>
      <figure class="spareparts__image-container section__image-container">
        <picture>
          <source type="image/webp" media="(min-width: 1349px)" srcset="@img/spareparts-desktop.webp 1x, @img/spareparts-desktop@2x.webp 2x">
          <source type="image/webp" media="(min-width: 768px)" srcset="@img/spareparts-tablet.webp 1x, @img/spareparts-tablet@2x.webp 2x">
          <source type="image/webp" srcset="@img/spareparts-mobile.webp 1x, @img/spareparts-mobile@2x.webp 2x">
          <source media="(min-width: 1349px)" srcset="@img/spareparts-desktop.jpg 1x, @img/spareparts-desktop@2x.jpg 2x">
          <source media="(min-width: 768px)" srcset="@img/spareparts-tablet.jpg 1x, @img/spareparts-tablet@2x.jpg 2x">
          <img class="spareparts__image section__image" src="@img/spareparts-mobile.jpg" srcset="@img/spareparts-mobile@2x.jpg 2x" alt="">
        </picture>
      </figure>
    </div>
  </div>
</section>
