{% set tabs = [
  "Экскаваторы",
  "Самосвалы",
  "Башенные краны",
  "Гусеничные краны",
  "Короткобазные автокраны",
  "Краны на спецшасси",
  "Дорожная техника",
  "Погрузчики",
  "Буровая техника",
  "Карьерные самосвалы",
  "Самоходные подъёмники"
] %}
<section class="tech-tabs tabs">
  <div class="container">
    <h2 class="tech-tabs__title title">Каталог</h2>
  </div>
  <div class="tech-tabs__container container">
    <ul class="tech-tabs__list tabs__list">
      <li class="tech-tabs__item tabs__item">
        <a class="tech-tabs__button tabs__button tabs__button--active" href="./catalog.html">{{ tabs[0] }}</a>
      </li>
      <li class="tech-tabs__item tabs__item">
        <a class="tech-tabs__button tabs__button" href="#!">Самосвалы</a>
      </li>
      <li class="tech-tabs__item tabs__item">
        <a class="tech-tabs__button tabs__button" href="#!">Башенные краны</a>
      </li>
      <li class="tech-tabs__item tabs__item">
        <a class="tech-tabs__button tabs__button" href="#!">Гусеничные краны</a>
      </li>
      <li class="tech-tabs__item tabs__item">
        <a class="tech-tabs__button tabs__button" href="#!">Короткобазные автокраны</a>
      </li>
      <li class="tech-tabs__item tabs__item">
        <a class="tech-tabs__button tabs__button" href="#!">Краны на спецшасси</a>
      </li>
      <li class="tech-tabs__item tabs__item">
        <a class="tech-tabs__button tabs__button" href="#!">Дорожная техника</a>
      </li>
      <li class="tech-tabs__item tabs__item">
        <a class="tech-tabs__button tabs__button" href="#!">Погрузчики</a>
      </li>
      <li class="tech-tabs__item tabs__item">
        <a class="tech-tabs__button tabs__button" href="#!">Буровая техника</a>
      </li>
      <li class="tech-tabs__item tabs__item">
        <a class="tech-tabs__button tabs__button" href="#!">Карьерные самосвалы</a>
      </li>
      <li class="tech-tabs__item tabs__item">
        <a class="tech-tabs__button tabs__button" href="#!">Самоходные подъёмники</a>
      </li>
    </ul>
    <div class="tech-tabs__panels">
      <div class="tech-tabs__panel tabs__panel tabs__panel--active">
        <h3 class="tech-tabs__panel-title">{{ tabs[0] }}</h3>
        <h4 class="tech-tabs__panel-subtitle">Типы техники</h4>
        <ul class="tech-tabs__panel-list">
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >Гусеничные</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >Колесные</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >Экскаваторы-погрузчики</a>
          </li>
        </ul>
        <h4 class="tech-tabs__panel-subtitle">Популярные модели</h4>
        <ul class="tech-tabs__panel-list tech-tabs__panel-list--grid">
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE700C</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE60СА</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE60СА</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE60СА</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE265C</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE265C</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE700C</a>
          </li>
        </ul>
        <h4 class="tech-tabs__panel-subtitle">Спецпредложения</h4>
        <ul class="tech-tabs__panel-list tech-tabs__panel-list--grid">
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE700C</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE60СА</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE60СА</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE60СА</a>
          </li>
        </ul>
        <picture>
          <source type="image/webp" srcset="./img/tab-excavators.webp 1x">
          <img class="tech-tabs__panel-image tech-tabs__panel-image--excavator" src="./img/tab-excavators.png" alt="Изображение экскаватора">
        </picture>
      </div>
      <div class="tech-tabs__panel tabs__panel">
        <h3 class="tech-tabs__panel-title">{{ tabs[1] }}</h3>
        <h4 class="tech-tabs__panel-subtitle">Типы техники</h4>
        <ul class="tech-tabs__panel-list">
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >Гусеничные</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >Колесные</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >Экскаваторы-погрузчики</a>
          </li>
        </ul>
        <h4 class="tech-tabs__panel-subtitle">Популярные модели</h4>
        <ul class="tech-tabs__panel-list tech-tabs__panel-list--grid">
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE700C</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE60СА</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE60СА</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE60СА</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE265C</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE265C</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE700C</a>
          </li>
        </ul>
        <h4 class="tech-tabs__panel-subtitle">Спецпредложения</h4>
        <ul class="tech-tabs__panel-list tech-tabs__panel-list--grid">
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE700C</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE60СА</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE60СА</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE60СА</a>
          </li>
        </ul>
        <picture>
          <source type="image/webp" srcset="./img/tab-tippers.webp 1x">
          <img class="tech-tabs__panel-image" src="./img/tab-tipperss.png" alt="Изображение самосвала">
        </picture>
      </div>
      <div class="tech-tabs__panel tabs__panel">
        <h3 class="tech-tabs__panel-title">{{ tabs[2] }}</h3>
        <h4 class="tech-tabs__panel-subtitle">Типы техники</h4>
        <ul class="tech-tabs__panel-list">
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >Гусеничные</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >Колесные</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >Экскаваторы-погрузчики</a>
          </li>
        </ul>
        <h4 class="tech-tabs__panel-subtitle">Популярные модели</h4>
        <ul class="tech-tabs__panel-list tech-tabs__panel-list--grid">
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE700C</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE60СА</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE60СА</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE60СА</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE265C</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE265C</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE700C</a>
          </li>
        </ul>
        <h4 class="tech-tabs__panel-subtitle">Спецпредложения</h4>
        <ul class="tech-tabs__panel-list tech-tabs__panel-list--grid">
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE700C</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE60СА</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE60СА</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE60СА</a>
          </li>
        </ul>
        <picture>
          <source type="image/webp" srcset="./img/tab-tower-cranes.webp 1x">
          <img class="tech-tabs__panel-image" src="./img/tab-tower-cranes.png" alt="Изображение башеного крана">
        </picture>
      </div>
      <div class="tech-tabs__panel tabs__panel">
        <h3 class="tech-tabs__panel-title">{{ tabs[3] }}</h3>
        <h4 class="tech-tabs__panel-subtitle">Типы техники</h4>
        <ul class="tech-tabs__panel-list">
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >Гусеничные</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >Колесные</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >Экскаваторы-погрузчики</a>
          </li>
        </ul>
        <h4 class="tech-tabs__panel-subtitle">Популярные модели</h4>
        <ul class="tech-tabs__panel-list tech-tabs__panel-list--grid">
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE700C</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE60СА</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE60СА</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE60СА</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE265C</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE265C</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE700C</a>
          </li>
        </ul>
        <h4 class="tech-tabs__panel-subtitle">Спецпредложения</h4>
        <ul class="tech-tabs__panel-list tech-tabs__panel-list--grid">
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE700C</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE60СА</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE60СА</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE60СА</a>
          </li>
        </ul>
        <picture>
          <source type="image/webp" srcset="./img/tab-crawler-cranes.webp 1x">
          <img class="tech-tabs__panel-image" src="./img/tab-crawler-cranes.png" alt="Изображение гусеничного крана">
        </picture>
      </div>
      <div class="tech-tabs__panel tabs__panel">
        <h3 class="tech-tabs__panel-title">{{ tabs[4] }}</h3>
        <h4 class="tech-tabs__panel-subtitle">Типы техники</h4>
        <ul class="tech-tabs__panel-list">
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >Гусеничные</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >Колесные</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >Экскаваторы-погрузчики</a>
          </li>
        </ul>
        <h4 class="tech-tabs__panel-subtitle">Популярные модели</h4>
        <ul class="tech-tabs__panel-list tech-tabs__panel-list--grid">
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE700C</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE60СА</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE60СА</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE60СА</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE265C</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE265C</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE700C</a>
          </li>
        </ul>
        <h4 class="tech-tabs__panel-subtitle">Спецпредложения</h4>
        <ul class="tech-tabs__panel-list tech-tabs__panel-list--grid">
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE700C</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE60СА</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE60СА</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE60СА</a>
          </li>
        </ul>
        <picture>
          <source type="image/webp" srcset="./img/tab-short-auto-cranes.webp 1x">
          <img class="tech-tabs__panel-image" src="./img/tab-short-auto-cranes.png" alt="Изображение короткобазного автокрана">
        </picture>
      </div>
      <div class="tech-tabs__panel tabs__panel">
        <h3 class="tech-tabs__panel-title">{{ tabs[5] }}</h3>
        <h4 class="tech-tabs__panel-subtitle">Типы техники</h4>
        <ul class="tech-tabs__panel-list">
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >Гусеничные</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >Колесные</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >Экскаваторы-погрузчики</a>
          </li>
        </ul>
        <h4 class="tech-tabs__panel-subtitle">Популярные модели</h4>
        <ul class="tech-tabs__panel-list tech-tabs__panel-list--grid">
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE700C</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE60СА</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE60СА</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE60СА</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE265C</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE265C</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE700C</a>
          </li>
        </ul>
        <h4 class="tech-tabs__panel-subtitle">Спецпредложения</h4>
        <ul class="tech-tabs__panel-list tech-tabs__panel-list--grid">
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE700C</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE60СА</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE60СА</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE60СА</a>
          </li>
        </ul>
        <picture>
          <source type="image/webp" srcset="./img/tab-special-chasse-cranes.webp 1x">
          <img class="tech-tabs__panel-image" src="./img/tab-special-chasse-cranes.png" alt="Изображение крана на спецшасси">
        </picture>
      </div>
      <div class="tech-tabs__panel tabs__panel">
        <h3 class="tech-tabs__panel-title">{{ tabs[6] }}</h3>
        <h4 class="tech-tabs__panel-subtitle">Типы техники</h4>
        <ul class="tech-tabs__panel-list">
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >Гусеничные</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >Колесные</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >Экскаваторы-погрузчики</a>
          </li>
        </ul>
        <h4 class="tech-tabs__panel-subtitle">Популярные модели</h4>
        <ul class="tech-tabs__panel-list tech-tabs__panel-list--grid">
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE700C</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE60СА</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE60СА</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE60СА</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE265C</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE265C</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE700C</a>
          </li>
        </ul>
        <h4 class="tech-tabs__panel-subtitle">Спецпредложения</h4>
        <ul class="tech-tabs__panel-list tech-tabs__panel-list--grid">
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE700C</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE60СА</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE60СА</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE60СА</a>
          </li>
        </ul>
        <picture>
          <source type="image/webp" srcset="./img/tab-road-tech.webp 1x">
          <img class="tech-tabs__panel-image" src="./img/tab-road-tech.png" alt="Изображение дорожной техники">
        </picture>
      </div>
      <div class="tech-tabs__panel tabs__panel">
        <h3 class="tech-tabs__panel-title">{{ tabs[7] }}</h3>
        <h4 class="tech-tabs__panel-subtitle">Типы техники</h4>
        <ul class="tech-tabs__panel-list">
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >Гусеничные</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >Колесные</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >Экскаваторы-погрузчики</a>
          </li>
        </ul>
        <h4 class="tech-tabs__panel-subtitle">Популярные модели</h4>
        <ul class="tech-tabs__panel-list tech-tabs__panel-list--grid">
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE700C</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE60СА</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE60СА</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE60СА</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE265C</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE265C</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE700C</a>
          </li>
        </ul>
        <h4 class="tech-tabs__panel-subtitle">Спецпредложения</h4>
        <ul class="tech-tabs__panel-list tech-tabs__panel-list--grid">
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE700C</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE60СА</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE60СА</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE60СА</a>
          </li>
        </ul>
        <picture>
          <source type="image/webp" srcset="./img/tab-loaders.webp 1x">
          <img class="tech-tabs__panel-image" src="./img/tab-loaders.png" alt="Изображение погрузчика">
        </picture>
      </div>
      <div class="tech-tabs__panel tabs__panel">
        <h3 class="tech-tabs__panel-title">{{ tabs[8] }}</h3>
        <h4 class="tech-tabs__panel-subtitle">Типы техники</h4>
        <ul class="tech-tabs__panel-list">
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >Гусеничные</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >Колесные</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >Экскаваторы-погрузчики</a>
          </li>
        </ul>
        <h4 class="tech-tabs__panel-subtitle">Популярные модели</h4>
        <ul class="tech-tabs__panel-list tech-tabs__panel-list--grid">
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE700C</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE60СА</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE60СА</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE60СА</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE265C</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE265C</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE700C</a>
          </li>
        </ul>
        <h4 class="tech-tabs__panel-subtitle">Спецпредложения</h4>
        <ul class="tech-tabs__panel-list tech-tabs__panel-list--grid">
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE700C</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE60СА</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE60СА</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE60СА</a>
          </li>
        </ul>
        <picture>
          <source type="image/webp" srcset="./img/tab-drilling-tech.webp 1x">
          <img class="tech-tabs__panel-image" src="./img/tab-drilling-tech.png" alt="Изображение буровой техники">
        </picture>
      </div>
      <div class="tech-tabs__panel tabs__panel">
        <h3 class="tech-tabs__panel-title">{{ tabs[9] }}</h3>
        <h4 class="tech-tabs__panel-subtitle">Типы техники</h4>
        <ul class="tech-tabs__panel-list">
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >Гусеничные</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >Колесные</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >Экскаваторы-погрузчики</a>
          </li>
        </ul>
        <h4 class="tech-tabs__panel-subtitle">Популярные модели</h4>
        <ul class="tech-tabs__panel-list tech-tabs__panel-list--grid">
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE700C</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE60СА</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE60СА</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE60СА</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE265C</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE265C</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE700C</a>
          </li>
        </ul>
        <h4 class="tech-tabs__panel-subtitle">Спецпредложения</h4>
        <ul class="tech-tabs__panel-list tech-tabs__panel-list--grid">
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE700C</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE60СА</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE60СА</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE60СА</a>
          </li>
        </ul>
        <picture>
          <source type="image/webp" srcset="./img/tab-dumpers.webp 1x">
          <img class="tech-tabs__panel-image" src="./img/tab-dumpers.png" alt="Изображение карьерного самосвала">
        </picture>
      </div>
      <div class="tech-tabs__panel tabs__panel">
        <h3 class="tech-tabs__panel-title">{{ tabs[10] }}</h3>
        <h4 class="tech-tabs__panel-subtitle">Типы техники</h4>
        <ul class="tech-tabs__panel-list">
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >Гусеничные</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >Колесные</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >Экскаваторы-погрузчики</a>
          </li>
        </ul>
        <h4 class="tech-tabs__panel-subtitle">Популярные модели</h4>
        <ul class="tech-tabs__panel-list tech-tabs__panel-list--grid">
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE700C</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE60СА</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE60СА</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE60СА</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE265C</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE265C</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE700C</a>
          </li>
        </ul>
        <h4 class="tech-tabs__panel-subtitle">Спецпредложения</h4>
        <ul class="tech-tabs__panel-list tech-tabs__panel-list--grid">
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE700C</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE60СА</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE60СА</a>
          </li>
          <li class="tech-tabs__panel-list-item">
            <a class="tech-tabs__panel-list-link" href="#!" >XE60СА</a>
          </li>
        </ul>
        <picture>
          <source type="image/webp" srcset="./img/tab-elevators.webp 1x">
          <img class="tech-tabs__panel-image" src="./img/tab-elevators.png" alt="Изображение самоходного подъемника">
        </picture>
      </div>
    </div>
  </div>
</section>
