<section class="useful-systems">
  <div class="useful-systems__container container">
    <div class="useful-sytems__content">
      <div class="useful-systems__images">
        <div class="useful-systems__images-row">
          <figure class="useful-systems__images-item">
            <picture>
              <source type="image/webp" srcset="./img/useful-systems-image1.webp 1x">
              <img class="useful-systems__image" src="./img/useful-systems-image1.jpg" alt="">
            </picture>
          </figure>
          <figure class="useful-systems__images-item">
            <picture>
              <source type="image/webp" srcset="./img/useful-systems-image2.webp 1x">
              <img class="useful-systems__image" src="./img/useful-systems-image2.jpg" alt="">
            </picture>
          </figure>
        </div>
        <div class="useful-systems__images-row">
          <figure class="useful-systems__images-item">
            <picture>
              <source type="image/webp" srcset="./img/useful-systems-image3.webp 1x">
              <img class="useful-systems__image" src="./img/useful-systems-image3.jpg" alt="">
            </picture>
          </figure>
          <figure class="useful-systems__images-item">
            <picture>
              <source type="image/webp" srcset="./img/useful-systems-image4.webp 1x">
              <img class="useful-systems__image" src="./img/useful-systems-image4.jpg" alt="">
            </picture>
          </figure>
        </div>
      </div>
      <div class="useful-systems__main">
        <h3 class="useful-systems__header section-header">Полезные системы и навесное оборудование для спецтехники XCMG</h3>
        <ul class="useful-systems__list daw-list">
          <li class="useful-systems__list-item daw-list__item">Навесное оборудование для экскаваторов<br> и погрузчиков</li>
          <li class="useful-systems__list-item daw-list__item">Предпусковые подогреватели двигателя</li>
          <li class="useful-systems__list-item daw-list__item">Воздушные отопители</li>
          <li class="useful-systems__list-item daw-list__item">Системы пожаротушения</li>
          <li class="useful-systems__list-item daw-list__item">Системы автоматической подачи смазки</li>
          <li class="useful-systems__list-item daw-list__item">Система мониторинга</li>
          <li class="useful-systems__list-item daw-list__item">Бортовая система взвешивания</li>
        </ul>
      </div>
    </div>
  </div>
</section>
