<section class="warehouses section">
  <div class="warehouses__container container">
    <div class="warehouses__content">
      <h2 class="warehouses__title title">География складов</h2>
      <p class="warehouses__text">Кликните на город, чтобы&nbsp;проверить есть ли нужная вам техника на складе</p>
      <figure class="warehouses__map">
        <picture>
          <source type="image/webp" media="(min-width: 768px)" srcset="@img/warehouses-desktop.webp 1x, @img/warehouses-desktop@2x.webp 2x">
          <source type="image/webp" srcset="@img/warehouses-mobile.webp 1x, @img/warehouses-mobile@2x.webp 2x">
          <source media="(min-width: 768px)" srcset="@img/warehouses-desktop.jpg 1x, @img/warehouses-desktop@2x.jpg 2x">
          <img class="warehouses__image" src="@img/warehouses-mobile.jpg" srcset="@img/warehouses-mobile@2x.jpg 2x" alt="">
        </picture>
      </figure>
      <ul class="warehouses__list">
        <li class="warehouses__item warehouses__item--moscow">
          <a class="warehouses__link" href="#!">Москва</a>
        </li>
        <li class="warehouses__item warehouses__item--spb">
          <a class="warehouses__link" href="#!">Санкт-Петербург</a>
        </li>
        <li class="warehouses__item warehouses__item--nn">
          <a class="warehouses__link" href="#!">Нижний<br class="hide-br hide-br--mobile hide-br--tablet">Новгород</a>
        </li>
        <li class="warehouses__item warehouses__item--ekb">
          <a class="warehouses__link" href="#!">Екатеринбург</a>
        </li>
        <li class="warehouses__item warehouses__item--chlb">
          <a class="warehouses__link" href="#!">Челябинск</a>
        </li>
        <li class="warehouses__item warehouses__item--smolensk">
          <a class="warehouses__link" href="#!">Смоленск</a>
        </li>
        <li class="warehouses__item warehouses__item--podolsk">
          <a class="warehouses__link" href="#!">Подольск</a>
        </li>
        <li class="warehouses__item warehouses__item--voronez">
          <a class="warehouses__link" href="#!">Воронеж</a>
        </li>
        <li class="warehouses__item warehouses__item--krasnodar">
          <a class="warehouses__link" href="#!">Краснодар</a>
        </li>
        <li class="warehouses__item warehouses__item--samara">
          <a class="warehouses__link" href="#!">Самара</a>
        </li>
        <li class="warehouses__item warehouses__item--kurgan">
          <a class="warehouses__link" href="#!">Курган</a>
        </li>
        <li class="warehouses__item warehouses__item--izevsk">
          <a class="warehouses__link" href="#!">Ижевск</a>
        </li>
        <li class="warehouses__item warehouses__item--krasnoyarsk">
          <a class="warehouses__link" href="#!">Красноярск</a>
        </li>
        <li class="warehouses__item warehouses__item--kemerovo">
          <a class="warehouses__link" href="#!">Кемерово</a>
        </li>
        <li class="warehouses__item warehouses__item--zabaikalsk">
          <a class="warehouses__link" href="#!">Забайкальск</a>
        </li>
        <li class="warehouses__item warehouses__item--blago">
          <a class="warehouses__link" href="#!">Благовещенск</a>
        </li>
      </ul>
    </div>
  </div>
</section>
