/* Slider */

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0 -10px;
    padding: 0;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}
.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    margin: 0 10px;
    [dir="rtl"] & {
        float: right;
    }
    img {
        display: block;
    }
    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: flex;
        justify-content: center;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}
.slick-arrow {
  position: relative;
  flex-shrink: 0;
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  font-size: 0;
  line-height: 0;
  border: none;
  background-color: $primary-color;

  &::before {
    position: absolute;
    content: "";
    width: 14px;
    height: 14px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-image: url('@img/icons/arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
  }
}
.slick-disabled {
  background-color: $grey-color;
}
.slick-prev {

  &::before {
    transform: translate(-50%, -50%) rotate(180deg);
  }
  @media (max-width: 719px) {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  @media (min-width: 720px) and (max-width: $desktop-width) {
    align-self: center;
  }
}
.slick-next {

  @media (max-width: 719px) {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(calc(100% + 5px));
  }
  @media (min-width: 720px) and (max-width: $desktop-width) {
    align-self: center;
  }
}
.slick-arrow.slick-hidden {
    display: none;
}
