// Viewports
$tablet-width: 660px;
$tablet-width-only: 1314px;
$desktop-width: 1315px;
$mobile-width-only: 659px;
$min-mobile-width: 320px;

// Colors
$primary-color: #004496;
$secondary-color: #fcc944;
$dark-color: #2d303e;
$dark-color-second: #3f3f3f;
$white-color: #f3f3f3;
$grey-color: #a9a9a9;

//Paddings

