// Viewports
$tablet-width: 820px; //ipad air
// TODO: 768px для планшетов
$tablet-width-only: 1314px;
$desktop-width: 1314.99px;
$mobile-width-only: 819px;
$min-mobile-width: 320px;
$br5: 3000px;

// Colors
$primary-color: #004496;
$secondary-color: #fcc944;
$dark-color: #2d303e;
$dark-color-second: #3f3f3f;
$white-color: #f3f3f3;
$grey-color: #a9a9a9;

//Paddings

